.container_12 .grid_6 {
	width: 455px;
}

.clear_both {
	clear: both;
}

.mb20 {
	margin-bottom: 20px;
}

.wlcom_top {
	height: 302px;
	background: url(http://img.meilishuo.net/css/images/wlcom/bg_photo.jpg)
		no-repeat 0 0;
	overflow-y: hidden;
}

.daren_photo {
	width: 220px;
	height: 280px;
	padding: 10px 0 0 120px;
}

.trsp_fmt {
	width: 200px;
	height: 30px;
	line-height: 30px;
	background: #FFF;
	filter: alpha(opacity = 80);
	opacity: 0.8;
	padding: 0 10px;
	position: relative;
	left: 120px;
	bottom: 28px;
	display: block;
}

.trsp_bg {
	width: 200px;
	height: 30px;
	line-height: 30px;
	background: #FFF;
	filter: alpha(opacity = 80);
	opacity: 0.8;
	padding: 0 10px;
	position: absolute;
	left: 120px;
	bottom: 26px;
	display: block;
}

.trsp_bg h4 {
	text-align: right;
	opacity: 1;
}

.mls_des {
	margin: 15px 0 0 28px;
	width: 552px;
}

.mls {
	height: 150px;
	background: url(http://img.meilishuo.net/css/images/wlcom/wlc_f.png)
		no-repeat 0 0;
	margin: 0 0 16px;
	text-indent: -999em;
}

.mls_txt {
	height: 207px;
	_overflow-y: hidden;
}

.btn_login,.btn_reg {
	background: url(http://img.meilishuo.net/css/images/wlc_new/wlc_ico.png)
		no-repeat 0 -46px;
	float: left;
	height: 34px;
	width: 84px;
	display: block;
	text-indent: -999em;
	margin: 0 5px 0 0;
}

.btn_login {
	background-position: -112px -46px;
}

.download_client {
	background:
		url(http://img.meilishuo.net/css/images/wlcom/icon_dload_client.gif)
		no-repeat 0 0;
	width: 379px;
	height: 75px;
}

.download_client h4 {
	width: 128px;
	height: 20px;
	margin: 45px 15px 0 15px;
	_display: inline;
	text-indent: -999em;
}

.d_iphone,.d_android,.btn91 {
	width: 63px;
	height: 63px;
	display: block;
	float: left;
	margin: 5px 10px 0 0;
	_display: inline;
	text-indent: -999em;
}

.today_share {
	font-weight: normal;
	padding: 20px 0;
}

.today_share b {
	background:
		url(http://img.meilishuo.net/css/images/wlcom/today_share1.gif)
		no-repeat center right;
	font-size: 24px;
	margin-right: 10px;
	padding-right: 120px;
}

.hot_area {
	height: 245px;
	margin: 10px 0 0;
	overflow-y: hidden;
}

.date {
	margin-right: 10px;
}

.l_pic {
	margin: 0 10px 0 0;
	width: 128px;
	overflow: hidden;
}

.r_txt {
	width: 288px;
}

.r_txt .des {
	line-height: 18px;
	height: 90px;
	padding: 5px 0 0;
}

.g_pic,.g_txt {
	border: 0 dashed #CCC;
	border-width: 1px 0 0;
}

.g_pic ul,.g_txt ul {
	padding: 14px 0 0;
}

.g_pic li {
	float: left;
	width: 64px;
	margin: 0 26px 0 0;
	text-align: center;
}

.grid_6 li.last {
	margin: 0;
}

.g_pic li span {
	width: 64px;
	display: block;
	padding: 5px 0 0;
	white-space: nowrap;
	overflow-x: hidden;
}

.g_txt li a {
	font-size: 14px;
}

.g_txt li b {
	width: 20px;
	height: 20px;
	line-height: 20px;
	background: url(http://img.meilishuo.net/css/images/findfs/icon1.gif)
		no-repeat 0 0;
	color: #FFF;
	float: left;
	margin: 0 8px 0 0;
	text-align: center;
}

.drBook {
	margin-bottom: 20px;
	overflow: hidden;
	position: relative;
	width: 200px;
	height: 348px;
}

.drBook .follow {
	cursor: pointer;
	float: right;
	font-size: 12px;
	font-weight: normal;
	margin-top: 11px;
	width: 64px;
}

.drBook h4,.drBook .approve {
	height: 24px;
	line-height: 24px;
}

.drBook p {
	line-height: 20px;
	font-size: 14px;
	padding: 5px 0 0;
}

.redborder {
	*border: 1px solid #f69;
	box-shadow: 0 1px 3px rgba(255, 2, 84, 0.8);
	-webkit-box-shadow: 0 1px 3px rgba(255, 2, 84, 0.8);
}

.grid_12 h2 {
	font-size: 12px;
}

.grid_12 ul.guide_links {
	display: inline;
	padding: 3px 0 0 14px;
}

.guide_links li {
	float: left;
	padding: 0 3px;
}

.bgGray {
	padding: 14px;
	height: 382px;
	overflow-y: hidden;
}

.share_left {
	width: 180px;
	height: 330px;
	overflow-y: hidden;
	position: relative;
}

.w180,.w145,.w230 {
	width: 160px;
	left: 0;
	bottom: 0;
}

.trsp_bg .tl_l {
	text-align: left;
}

.likeit {
	background: url(http://img.meilishuo.net/css/images/twitter/likebg.gif)
		no-repeat 0 -25px;
	cursor: default
}

.likeit {
	*background-position: 0 -22px;
}

.w145 {
	width: 125px;
}

.w230 {
	width: 210px;
}

.h160 {
	width: 80px;
	height: 160px;
	top: 0;
	left: 130px;
}

.h160 .f12 {
	position: absolute;
	right: 10px;
	bottom: 0;
}

.h80 {
	padding-top: 50px;
}

.h80 .f12,.w120 .f12 {
	font-size: 18px;
	font-weight: bold;
}

.bgGray a:hover {
	color: #666;
}

.bgGray .f12 {
	cursor: pointer;
}

.w120 {
	padding-left: 20px;
	left: 110px;
	width: 90px;
}

.share_right li {
	float: left;
	height: 160px;
	position: relative;
	margin: 0 0 10px 12px;
}

.share_right li img {
	_display: block;
}

.trsp_bg .nums {
	font-size: 12px;
	margin-left: 20px;
}

.trsp_bg a:hover {
	text-decoration: none;
}

.g_brand li {
	float: left;
	margin: 6px 12px 6px 0;
}

.g_brand img {
	border: 1px solid #CCC;
	display: block;
}

.g_brand li.last {
	margin-right: 0;
}

.useful_links {
	*height: 140px;
	*overflow: hidden;
}

.useful_links ul {
	float: left;
	padding: 0 20px 0 0;
	overflow-y: hidden;
}

.useful_links li {
	line-height: 18px;
}

.useful_links li.hl a {
	color: #F69;
}

.s_group {
	float: left;
}

.l_list {
	border: 0 dashed #CCC;
	border-width: 0 1px 0 0;
	padding: 0 10px 0 0;
	margin: 0 30px 0 0;
}

.s_group .last {
	border: none;
	padding: 0;
	margin: 0;
}

.wlcom_bottom {
	padding: 0 0 18px;
	margin: 40px 0 0;
}

.register_now img {
	display: block;
	margin: 0 auto;
}

.loginBar {
	font-size: 14px;
	text-align: center;
}

.loginBar a {
	margin: 0 7px;
}

.login_sina {
	padding: 2px 7px 3px;
}

.login_renren {
	background: url(http://img.meilishuo.net/css/images/submit_renren.gif)
		no-repeat 0 0;
	padding: 0 7px 3px
}

.wlcom_bottom .detail {
	color: #B2B2B2;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}

.btn_moreShare {
	width: 194px;
	height: 40px;
	background: url(http://img.meilishuo.net/css/images/share_more.gif)
		no-repeat 0 0;
	display: block;
	margin: 0 auto;
	text-indent: -999em;
}

.z_focus {
	margin: 7px 0 0;
}

.z_focus li {
	float: left;
	width: 95px;
	line-height: 14px;
	margin: 0 0 0 20px;
	_display: inline;
}

.z_focus img {
	margin-right: 6px;
	_display: inline;
}

.z_focus li span {
	padding-right: 3px;
}

.z_focus ul .red {
	cursor: pointer
}

.z_focus li .name {
	height: 18px;
	display: block;
	white-space: nowrap;
	cursor: pointer;
}

.z_focus li a:hover {
	color: #F69;
}

.i_plus {
	background: url(http://img.meilishuo.net/css/images/wlcom/icon_plus.gif)
		no-repeat 38px 2px;
	*background-position: 38px 0;
	padding-left: 50px;
}