@charset "utf-8";
/* CSS Document */
body{
	margin:auto;
	margin-top:0px;
	text-align:center;
	font-family: "微软雅黑", "黑体", "宋体";
}
a {
color: black;
text-decoration: none;
}
ol, ul {
list-style: none;
}

#contener {
	text-align: left;
	margin-right: auto;
	margin-left: auto;
	width: 1038px;
}
#top {
	height: 87px;
	background-image: url(../images/index/3.jpg);
	background-repeat: repeat-x;
	overflow: hidden;
	width:1038px;
	float:left;
}
#context {
	height: 176px;
	background-image:url(../images/index/1.jpg);
	background-repeat: repeat-x;
	padding-top:0px;
}
#context ul li{
	height:22px;
	float: left;
	background-image:url(../images/index/2.jpg);
	background-repeat:repeat-y;
	text-align:center;
	margin-top:2px;
	width:70px;
	display:block;
	position:relative;
}
#context ul li a{
	height:24px;
	display:block;
	width:70px;
	padding-top:2px;
	position:absolute;
	top:-2px;
	left:0px;
}
#context ul li a:hover{
	background-image:url(../images/index/bg.jpg);
}
#cont{
	width:1038px;
	height:26px;
	margin-bottom:0px;
	overflow:hidden;
	font-size: smaller;
	float:left;
}
#context ul{
	z-index:1;
	width:900px;
	list-style-type: none;
	position: relative;
	margin-top:0px;
	padding-left:90px;
	float:left;
}
#context a{
	text-decoration: none;
	color: #000;
	height:26px;
	width:100%;
}

.englishfont {
	color:#000;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	font-size: 12px;
	height:12px;
	}
.chinese {
	font-family: "微软雅黑", "黑体", "宋体";
	font-weight: bolder;
	color: #734d10;
	height:15px;
	font-size: 15px;
	padding-top:5px;
	padding-bottom:15px;
	}
.message{
	padding-bottom:10px;
}
.info{
	width:670px;
	float:left;
	padding-bottom:5px;
}
.info input{
	width:200px;
	font-size:14px;
	text-align:center;
}
.big {
	width:346px;
	height:300px;
	float:left;
	
	} 
.sm{
		padding-left:30px;
	}
.clear{
	clear:both;
}
.thumimg{
	width:134px;
	margin-right:5px;
	float:left;
}
.image{
	height:78px;
	background:#AAA;
}
.image a img{
	height:78px;
	width:134px;
	border:none;
}
.hdTitle{
	text-align:center;
	height:30px;
	font-size:14px;
}
#menu{
	float:left;
	margin-top:15px;
}
#footer{
	background-image: url(../images/index/4.jpg);
	background-repeat: repeat-x;
	height: 82px;
	margin-bottom:-8px;
}

#swf{
	width:531px;
	height:216px;
	position: relative;
	float: right;
	top:-216px;
	margin-bottom:-216px;
}
.rese{
	border-right-width: 1px;
	border-right-style: groove;
	border-right-color: #999;
	width:345px;
	height:255px;
}
.resu{
	width:345px;
     height:110px;
     overflow:hidden;
}
.resue{
	width:345px;
	height:92px;
	overflow:hidden;
}
/*menu*/
#myul ul li{
	width:80px;
	
}
.version{
	text-decoration: none;
	color:black;
}
.resee {
	font-size:15px;
}
.resee ul {
clear: both;
background: white;
padding: 8px 10px 0 10px;
}
.resee li {
background: url(../images/index/bg2010.gif) no-repeat -6px -545px;
width:90%;
height: 30px;
line-height: 30px;
padding-left: 18px;
text-align: left;
border-bottom:1px dashed;
border-color:#ccc;
}
.more{
	float:right;
	margin-top:10px;
	padding-bottom:10px;
	
}
.more img{
	border:none;
}
.category_pic{
	width:678px;
	height:130px;
	float:left;
}
