<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
			http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<bean id="userInfoDao" class="com.hs.dao.impl.UserInfoDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean id="userinfoService" class="com.hs.service.impl.UserInfoServiceImpl">
		<property name="userInfoDao" ref="userInfoDao"></property>
	</bean>
	 <bean name="/registerAction" class="com.hs.web.RegisterAction" scope="prototype">
	 	<property name="userinfoService" ref="userinfoService"></property>
	 </bean>
	 <bean name="/showUser" class="com.hs.web.ShowUsersAction" scope="prototype">
	 	<property name="userinfoService" ref="userinfoService"></property>
	 </bean>
</beans>
