<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<!-- 配置数据库连接的信息 (连接工厂) 在连接数据库时，如何知道去找 po 对应的对象 则在配置完数据库连接的信息后 在加上该对象的路径 <mapping 
	resource="com/puckSoft/po/orm.hbm.xml" /> -->
<hibernate-configuration>

	<session-factory>
		<!--<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property> 
		<property name="connection.url">jdbc:mysql://127.0.0.1:3306/cheeropen</property>
		<property name="connection.username">root</property>
		<property name="connection.password"></property>
		<property name="dbcp.initialSize">10</property>
		<property name="dbcp.maxActive">100</property>
		<property name="dbcp.maxWait">60000</property>
		<property name="dbcp.minIdle">5</property>
		<property name="dbcp.maxIdle">20</property>

		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<property name="hbm2ddl.auto">update</property>-->
		
		<mapping resource="com/hs/po/UserInfo.hbm.xml" />

	</session-factory>
</hibernate-configuration>