body {
	font-size: 16px;
	color: #000000;
	font-family: sans-serif;
}

.tempselected {
	border: #FF0000 solid thin;
}

.finalselected {
	border: #5A7D08 solid;
}

#tabbody-div {
	width: 30%;
	position: absolute;
	display: none;
	background: white;
	z-index: 300;
	border: 4px solid #7dcdf4;
	padding: 10px;
}

#tabbody-div th {
	background: #e7f4fc;
	padding: 4px 0;
}

#tabbody-div td {
	padding: 4px 0;
}

#mask {
	z-index: 200;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: black;
	display: none;
}

#dialog-title {
	font-family: serif;
	font-size: 20px;
}

#dialog-close {
	display: block;
	position: absolute;
	top: 10px;
	right: 10px;
}