@charset "UTF-8";
/*二级页面　商品排名*/
.category_goods_search .select { z-index:1;}
.category_goods_search { float:left; width:728px;}
.category_goods_search .select_box { float:left;}
.goods_skim{clear:both;width:202px; border:1px solid #8c8c8c; margin:0 auto; background:#FFF; border-top:none; overflow:hidden;text-align:center;padding:5px 0;}
.goods_skim li{clear:both;width:180px;height:90px;padding:5px 10px;overflow:hidden;text-align:center; border-bottom:1px dotted #D3D3D3;}
.goods_skim li.border_none{ border-bottom:none;}
.goods_skim_tp{float:left;width:68px;height:90px;overflow:hidden;text-align:left; padding-bottom:10px;}
.goods_skim_tp img{width:66px;height:88px;border:1px solid #E4E4E4;}
.goods_skim_txt{float:left;width:110px;height:60px;padding-top:15px;overflow:hidden;text-align:left;line-height:20px;}
.goods_skim_price{color:#CC0000;font-size:12px;font-family:Tahoma; font-weight:bold;}
/*goods list CSS Document */  
.new_sort_title span { float:right; margin-right:5px;}      
.goods_list_bg { background:url(http://image.masamaso.com/goods_list_bg.gif) no-repeat; line-height:34px; width:760px; color:#40591F; font-size:14px; height:34px; margin-top:8px;}
.goods_list_bg span { padding-left:8px;}      
.goods_list{clear:both;width:753px; background:#fff; border:1px solid #8c8c8c; border-top:none; margin:0 auto; margin-left:3px;overflow:hidden;}
.goods_list ul{clear:both;width:738px;overflow:hidden;border-bottom:1px dotted #d0d0d0; margin:0 auto;}
.goods_list ul li{float:left;width:245px;overflow:hidden;text-align:center; padding-bottom:10px; border-right:1px dotted #d0d0d0; position:relative;}
.goods_list ul li.nobk{border-right:none;}
.goods_list ul.nobk{border-top:none;}
.goods_list ul li p.none{ position:absolute !important; display:none; top:130px; left:0; height:39px; width:245px;}
/*.goods_list_case{width:195px;margin:0px auto;overflow:hidden;}*/
.goods_tp{clear:both;width:221px;height:295px; margin:3px auto;text-align:center;position:relative;}
.goods_tp .fastview{display:none;top:225px;left:78px;margin:0 auto;position:absolute;}
.goods_tp .hover .fastview{display:block;}
.goods_tp .pic_ico{display:block;bottom:0px;right:0px;margin:0 auto;position:absolute;}

.goods_info{clear:both;width:200px;margin:0 auto;overflow:hidden;color:#555;text-align:left;line-height:18px;}
.goods_info a:link{color:#555;}
.goods_info a:visited{color:#555;}
.goods_info a:hover{color:#555;}
.goods_info p{clear:both; height:18px; overflow:hidden;}
.goods_info p .blankfont{margin-left:20px;}/*文字中间的空隙*/
.goods_info p .blank_fg{margin:-3px 4px 0 4px;color:#000;}/* | */
.goods_info p .nosize{ font-weight:bold;color:#000;}
.goods_info p .nosize a{color:#000;}
.goods_info .font_hd{color:#C00;font-weight:bold; margin:2px 0;}/*活动说明的标题*/
.goods_info .font_hd .font_num{color:#C00; margin:2px 0 2px 10px; font-weight:normal;}/*每两条起售*/
.goods_info .zhekou{color:#000;font-weight:bold;}
.goods_info .font_pl, .goods_info .font_pl a:link, .goods_info .font_pl a:visited, .goods_info .font_pl a:hover{color:#36C;}
.goods_info .font_pl .num{ font-weight:bold;}
.goods_info .price, .goods_info .price a:link, .goods_info .price a:visited, .goods_info .price a:hover{color:#C00;font-family:Arial;}
.goods_info .price0, .goods_info .price0 a:link, .goods_info .price0 a:visited, .goods_info .price0 a:hover{color:#C00;font-family:Arial;}
.goods_info .price1{font-size:14px;font-weight:bold;}/*前面的价格*/
.goods_info .price2{text-decoration:line-through;color:#999;}/*后面的价格*/
.goods_info .yuan{font-family:Arial; margin:0 2px 0 0;}/*￥*/
.goods_info .hd_pic{ float:left;width:38px;height:15px;display:block;overflow:hidden;margin:2px 8px 0 0;color:#FFF;text-align:center;line-height:15px;_line-height:17px;}
.goods_info .hd_bg_01{background:url(http://image.masamaso.com/goods_list_hd.gif) no-repeat 0 0;}
.goods_info .hd_bg_02{background:url(http://image.masamaso.com/goods_list_hd.gif) no-repeat 0px -15px;}

/*商品尺码查找*/
/*.goods_size_search{clear:both;margin-bottom:8px;text-align:left;line-height:20px;}*/
/*列表上方的系列图片*/
.goods_series_tp{clear:both;width:760px;overflow:hidden;padding-top:10px;}
.goods_series_tp img{width:760px;}
/*.goods_series_tp.first{margin-top:0px !important;}*/
/*商品查询分类*/
.searchresult_menu { clear:both; margin:0; padding-top:10px; overflow:hidden;}
.searchresult_menu li {cursor:pointer;float:left;padding:0;margin-right:10px;height:23px;overflow:hidden;text-align:center;line-height:23px;border:1px solid #CFCFCF;}
.searchresult_menu li.searchresult_menu_on {background:url(http://image.masamaso.com/category_tabon.gif) repeat-x top;}
.searchresult_menu li.searchresult_menu_off {background:url(http://image.masamaso.com/category_taboff.gif) repeat-x top}
/*商品快速查看*/
#submit_btn { float:right; padding-right:10px;}
.fast_goods_box{ margin:0 auto;overflow:hidden;text-align:center;}
.fast_goods_case{clear:both;width:630px; margin:0 auto;padding:3px 0px 3px 3px;overflow:hidden;text-align:left;background:#FFFFFF;border:1px solid #CAC2B1;}
.fast_goods_left{float:left;width:270px;overflow:hidden;text-align:left;background:#FFFFFF;}
.fast_tp_big{width:270px;height:360px;overflow:hidden;text-align:left;}
.fast_tp_big img{width:270px;height:360px;}
.fast_goods_left p.titleinfo{color:#FFFFFF;padding:3px 0;text-align:center;line-height:18px;background:#ECECEC;}
.fast_goods_left p.detail{padding:0 6px;text-align:right;line-height:20px;}
.fast_tp_s_box {clear:both;border-right:1px dashed #D1D1D1;}
.fast_tp_s {width:255px;height:47px;padding:2px 7px;overflow:hidden;text-align:right;margin-top:4px;}
.fast_tp_s img {width:32px;height:42px;padding:1px;background:#FFFFFF;border:1px solid #CCCCCC;}
.fast_goods_right{float:right;width:350px;overflow:hidden;text-align:left;}/*height:420px;实际高度*/
.fast_tp_info_box{float:left;overflow:hidden;text-align:left;}
.fast_menu_box{clear:both;height:25px;overflow:hidden;text-align:left;}
.fast_goods_close{float:right;width:192px;height:19px;line-height:19px;padding:5px 5px 0 5px;text-align:right;border-bottom:1px solid #CCCCCC;}
.fast_menu{float:left;width:148px;height:25px;overflow:hidden;text-align:left;}
.fast_menu li{float:left;width:74px;height:25px;cursor:pointer;font-size:12px;color:#000000;overflow:hidden;line-height:25px;text-align:center;}
.fast_menu_on{background:url(http://image.masamaso.com/fast_menu_on.gif) no-repeat; font-weight:bold;}
.fast_menu_off{background:url(http://image.masamaso.com/fast_menu_off.gif) no-repeat;}
.fast_info_con{clear:both;width:340px;padding-top:5px;line-height:20px;background:#FFFFFF;}
.fast_info{clear:both;width:328px;height:208px; border-bottom:1px solid #ebebeb; padding-left:12px;text-align:left;line-height:18px;overflow-y:scroll;overflow-x:hidden;}
.fast_info_fabrics{clear:both;color:#999999;padding-top:5px;height:90px;line-height:22px;overflow-y:scroll;overflow-x:hidden;}
.fast_info_price{color:#CC0000;font-size:14px;font-family:Tahoma;font-weight:bold;margin-right:3px;}
.fast_goods_size{clear:both;overflow:hidden;text-align:left;padding:5px 0 5px 12px;background:#FFFFFF;border-bottom:1px solid #EBEBEB;}
.fast_goods_size p{padding:2px 0; line-height:20px;}
.fast_goods_btn{clear:both;height:38px;margin-top:12px; width:340px; padding-left:12px; overflow:hidden;}
.fast_info_con .border_bottom{ margin:0; padding-left:12px; border-bottom:1px solid #EBEBEB;}
.fast_info_con .border_bottom .more { float:right; font-size:12px; color:#3566cf; font-weight:normal;}
.fast_info_con .border_bottom .code { float:right;}
.fast_info_con .border_bottom .line_height30{ line-height:30px;}
.show_limit{clear:both;text-align:left;padding:9px 9px 4px 9px;line-height:20px;}
.show_limit .btn{margin:8px auto; text-align:center;}
.goods_num .buy_num img { vertical-align:middle;}
.goods_num .buy_num input { width:30px; height:15px; vertical-align:middle; text-align:center;}
.size_link a { color:#3367cd; text-decoration:none;}
.size_link a:hover { color:#3367cd; text-decoration:underline;}
.size_link a:visited {color:#3367cd; text-decoration:none;}
.act_box { width:330px; margin:0 auto; background-color:#fffac0; border:1px solid #c0c0c0; height:30px; line-height:30px; padding-left:10px; margin-bottom:5px;}
.act_box .act_btn_xq { float:right; padding:4px 8px 0 0;}
.goods_tp{clear:both;width:221px;height:295px; margin:3px auto;text-align:center;position:relative;}

/* 图片轮换*/
/*������ʽ*/
.changePic .ad { 
	margin-bottom:10px;
	width:770px; 
	height:290px; 
	overflow:hidden;
	position:relative;
}
.changePic .slider,.changePic .num{
	position:absolute;
}
.changePic .slider li{ 
	list-style:none;
	display:inline;
}
.changePic .slider img{ 
	width:758px; 
	height:290px;
	display:block;
}
.changePic .num{ 
	right:25px; 
	bottom:5px;
}
.changePic .num li{
	float: left;
	color: #FF7300;
	text-align: center;
	line-height: 16px;
	width: 16px;
	height: 16px;
	font-family: Arial;
	font-size: 12px;
	cursor: pointer;
	overflow: hidden;
	margin: 3px 1px;
	border: 1px solid #FF7300;
	background-color: #fff;
}
.changePic .num li.on{
	color: #fff;
	line-height: 21px;
	width: 21px;
	height: 21px;
	font-size: 16px;
	margin: 0 1px;
	border: 0;
	background-color: #FF7300;
	font-weight: bold;
}
/*end*/    
