@charset "UTF-8";

/* CSS Document */
iframe {
	display: none;
	border: 0;
	margin: 0;
	padding: 0;
}

.clear_01 {
	clear: both;
	height: 8px;
	overflow: hidden;
}

body,ul,li,dl,dt,dd,form,p,img,textarea,h1,h2,h3,h4,h5,h6,iframe,select
	{
	margin: 0;
	padding: 0;
	list-style: none;
}

img {
	border: 0;
}

body,td,th {
	font-size: 12px;
}

body {
	color: #000;
	font-size: 12px;
	text-align: center;
	font-family: Helvetica, Arial, Verdana, sans-serif;
	background: url(images/index_bg5.jpg) repeat;
	min-width: 1000px;
}

a:link {
	color: #333;
	text-decoration: none;
}

a:visited {
	color: #333;
	text-decoration: none;
}

a:hover {
	color: #333;
	text-decoration: underline;
}

html {
	scrollbar-shadow-color: #CFCFCF;
	scrollbar-highlight-color: #CFCFCF;
	scrollbar-3dlight-color: #fff;
	scrollbar-darkshadow-color: #fff;
	scrollbar-arrow-color: #797979;
	scrollbar-face-color: #EFEEEE;
	scrollbar-track-color: #F8F8F9;
	overflow-y: scroll;
}

.clear {
	clear: both;
	height: 0px;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.clearheight {
	clear: both;
	height: 8px;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.hidden {
	display: none;
}

.floatright {
	float: right;
}

.floatleft {
	float: left;
}

.mt0 {
	margin-top: 0px !important;
}

select,file,textarea,input {
	margin: 0;
	padding: 0;
	list-style: none;
}

.select {
	color: #999;
	font-size: 12px;
}

.file {
	height: 20px;
	color: #999;
	text-align: left;
	line-height: 20px;
	border: 1px solid #E7E3E2;
}

.textarea {
	color: #999;
	font-size: 12px;
	text-align: left;
	line-height: 18px;
	background: #FFF;
	border: 1px solid #E7E3E2;
}

.input {
	margin: 0;
	color: #999;
	font-size: 12px;
	background: #FFF;
	border: 1px solid #E7E3E2;
	overflow: hidden;
	padding: 0 4px;
	height: 18px;
	vertical-align: middle;
}

.goods_list ul li .goods_case .txt .p0 {
	padding-left: 0;
}

/* font CSS */
.bsoild {
	border-bottom: 1px dotted #D3D3D3;
}

.bgwhite {
	background: #fff;
}

.bold {
	font-weight: bold;
}

.price {
	color: #CC0000;
	font-size: 14px;
	font-weight: bold;
	font-family: Arial;
}

.price2 {
	color: #333333;
	font-size: 12px;
	font-family: Arial;
	text-decoration: line-through;
}

.yuan {
	font-family: Arial;
	margin: 0 2px 0 0;
}

.line_through {
	text-decoration: line-through;
}

.num {
	font-family: Arial;
}

.font_tel {
	color: #C00;
	font-size: 14px;
	font-family: Tahoma;
	font-weight: bold;
}

.gray,.gray a:link,.gray a:visited,.gray a:hover {
	color: #666666;
}

.grayc,.grayc a:link,.grayc a:visited,.grayc a:hover {
	color: #CCCCCC;
}

.gray9,.gray9 a:link,.gray9 a:visited,.gray9 a:hover {
	color: #999999;
}

.gray3,.gray3 a:link,.gray3 a:visited,.gray3 a:hover {
	color: #333333;
}

.red,.red a:link,.red a:visited,.red a:hover {
	color: #CC0000;
}

.white,.white a:link,.white a:visited,.white a:hover {
	color: #FFFFFF;
}

.font_zt,.font_zt a:link,.font_zt a:visited,.font_zt a:hover {
	color: #5A4736;
}

.font_flow {
	color: #666666;
}

.font_flow a:link,.font_flow a:visited {
	color: #796353;
}

.font_flow a:hover {
	color: #3A1509;
}

.blue,.blue a:link,.blue a:visited,.blue a:hover {
	color: #3366cc;
}

/*layout*/
.content {
	clear: both;
	width: 980px;
	margin: 0 auto;
	padding: 10px 10px;
	overflow: hidden;
}

.leftbox {
	float: left;
	width: 210px;
	overflow: hidden;
	text-align: left;
}

.rightbox {
	float: left;
	width: 760px;
	overflow: hidden;
	text-align: left;
	padding-left: 10px;
}

/*header*/
.header_top {
	background: url(images/header_top_bg.gif) repeat-x;
	height: 37px;
}

.header_top .top_box {
	width: 980px;
	margin: 0 auto;
}

.top_left_box {
	width: 320px;
	float: left;
}

.top_right_box {
	float: right;
}

.top_right_box .index_login {
	float: left;
}

.top_right_box p.cart {
	float: left;
	padding: 10px 0 0 10px;
}

.top_right_box .cart_btn {
	float: left;
	padding: 8px 0 0 10px;
}

.index_login li {
	float: left;
	padding-right: 12px;
	padding-top: 10px;
}

.web_title .title_hzhb {
	background: url(images/title_002.gif) no-repeat;
	width: 192px;
	height: 34px;
	padding-left: 8px;
	font-weight: bold;
	color: #40591F;
	font-size: 14px;
}

.header_box {
	width: 1276px;
	height: 127px;
	margin: 0 auto;
	overflow: hidden;
	background: #404040;
}

/*menu*/
/*menu*/
.menu_box {
	height: 32px;
	overflow: hidden;
	background: url(images/menu_bg3.gif) repeat-x;
	border-bottom: 1px solid #c2c2c2;
	border-top: 1px solid #aeaeae;
}

.menu {
	width: 1000px;
	height: 32px;
	overflow: hidden;
	margin: 0px auto;
	color: #FFFFFF;
	text-align: center;
	font-weight: bold;
	position: relative;
}

.menu li {
	float: left;
	height: 32px;
	overflow: hidden;
}

.menu li a {
	display: block;
	width: 65px;
	line-height: 18px;
	font-size:15px;
	padding-top:8px;
	background: url(images/menuline.png) right top no-repeat;

}

.menu li a:hover {
	display: block;
	height: 25px;
	background: url(images/menu2.png) repeat-x;
}

/*.menu li.mm13 a.m13{ width:77px; background-position:-694px -30px;}*/
/*.menu li.mm14 a{ width:65px; background-position:-915px 0px;}*/
/*.menu li.mm15 a{ width:70px; background-position:-855px 0px;}
.menu li.mm16 a{ width:75px; background-position:-925px 0px;}*/
/*头部菜单*/
/*.mt_box_wrap{position:relative; z-index:999}*/
.mt_list table.nobr {
	border-right: none;
}

.mt_box {
	display: none;
	position: absolute;
	margin-left: 4px;
	padding-top: 10px;
	margin-top: 0px;
	z-index: 9999999;
	background: #ffffff;
	float: left;
	left: 0;
	top: 0px;
	filter: progid : DXImageTransform.Microsoft.Shadow ( Color = #555555,
		Direction = 120, strength = 5 )
}

.mt_list table {
	float: left;
	border-right: 1px dotted #c6c6c6;
}

.mt_list {
	padding: 5px 10px;
	text-align: left;
}

.mt_list table td {
	padding: 0 10px 10px;
}

.mt_list p {
	clear: both;
	padding: 3px 0 3px 12px;
	overflow: hidden;
	line-height: 14px;
	background: url(images/index_13.gif) no-repeat;
	background-position: 3px 9px;
	*background-position: 3px 7px;
	_background-position: 3px 7px;
}

.mt_list p a {
	color: #666666;
}

.mt_list p.nav_t {
	color: #000;
	font-weight: bold;
	line-height: 20px;
	text-align: left;
	padding: 0;
	background: none;
}

.mt_list p.nav_t a:link {
	color: #000;
}

.mt_list p.nav_t a:visited {
	color: #000;
}

.mt_list p.nav_t a:hover {
	color: #000;
}

/*头部热销商品*/
.header_hot_bg {
	padding-top: 1px;
	height: 32px;
	width: 981px;
	margin: 0 auto;
}

.header_hot {
	float: left;
	display: inline;
	width: 771px;
	text-align: left;
	padding-bottom: 5px;
}

.header_hot_l {
	float: left;
	background: url(images/header_hot_l1.gif) no-repeat;
	width: 8px;
	height: 31px;
}

.header_hot_c {
	float: left;
	background: url(images/header_hot_c1.gif) repeat-x;
	height: 31px;
	width: 745px;
	line-height: 25px;
	padding: 0 5px;
}

.header_hot_c a {
	padding-right: 12px; /*padding:0 10px;*/
}

.header_hot_r {
	float: left;
	background: url(images/header_hot_r1.gif) no-repeat;
	width: 8px;
	height: 31px;
}

.header_search {
	float: left;
	display: inline;
	padding-left: 9px;
	margin-left: 5px;
	background: url(images/header_search_bg1.gif) no-repeat;
	width: 196px;
	height: 32px;
}

.header_search .input_box {
	float: left;
	background: url(images/input_bg.gif) no-repeat;
	width: 172px;
	height: 21px;
	margin-top: 3px;
}

.header_search .input_box input {
	width: 160px;
	height: 15px;
	margin: 4px 0 0 2px;
	border: 0;
	color: #CCC;
}

.header_search .search1 {
	float: left;
	margin-top: 3px;
}

.index_nav_title a {
	color: #FFF;
	text-decoration: none;
}

.index_nav_title a:hover {
	color: #FFF;
	text-decoration: none;
}

.mt_pic {
	clear: both;
	padding: 5px 10px;
	border-top: 1px dashed #999797;
}

.mt_pic img {
	height: 80px;
}

/*search*/
.search_box {
	clear: both;
	height: 20px;
	padding: 3px 0 3px 0 !important;
	*padding: 3px 0 3px 0;
	overflow: hidden;
	background: url(images/top_s_bg.gif) repeat-x;
}

.search {
	clear: both;
	width: 1000px;
	height: 20px;
	margin: 0 auto;
	overflow: hidden;
	color: #999;
	text-align: left;
	line-height: 20px;
}

.search .input {
	width: 160px;
	height: 16px;
}

.search .btn_s {
	margin-left: 1px;
	vertical-align: middle;
}

.search_nav {
	float: left;
	text-align: left;
	line-height: 20px;
	padding-left: 5px;
}

.search_nav .txt_on {
	font-weight: bold;
	color: #333333;
}

.search_nav .pic {
	background: url(images/top_s_tp1.gif) no-repeat left center;
	padding-left: 10px;
	width: 10px;
	overflow: hidden;
}

.search a:link {
	color: #999;
}

.search a:visited {
	color: #999;
}

.search a:hover {
	color: #999;
}

.search .right {
	float: right;
	margin-top: 1px !important;
	_margin-top: 0px
}

/*top keywords*/
.top_select {
	float: right;
	margin-top: 1px;
	width: 115px;
	text-align: left;
	height: 18px;
	overflow: hidden;
}

.tag_select {
	display: block;
	color: #666;
	width: 91px;
	height: 16px;
	text-align: left;
	background: transparent url(images/index_select.gif) no-repeat 0 0;
	padding: 1px 10px;
	line-height: 17px;
}

.tag_select_hover {
	display: block;
	color: #666;
	width: 91px;
	height: 16px;
	background: transparent url(images/index_select.gif) no-repeat 0 -18px;
	padding: 1px 10px;
	line-height: 17px;
}

.tag_select_open {
	display: block;
	color: #666;
	width: 91px;
	height: 16px;
	background: transparent url(images/index_select.gif) no-repeat 0 -36px;
	padding: 1px 10px;
	line-height: 17px;
}

.tag_options {
	position: absolute;
	margin: 0;
	list-style: none;
	background: transparent url(images/index_select.gif) repeat-y -111px 0px;
	width: 111px;
	padding: 0px;
	margin: 0;
	height: 217px;
}

.tag_options li {
	display: block;
	width: 88px;
	padding: 0 10px;
	height: 17px;
	text-decoration: none;
	line-height: 18px;
	color: #666;
}

.tag_options li.open_hover {
	background: transparent url(images/index_select.gif) no-repeat 0 -55px;
	color: #ffffff;
	height: 18px;
	width: 90px;
}

.tag_options li.open_selected {
	background: transparent url(images/index_select.gif) no-repeat 0 -71px;
}

/*footer*/
.footer_box {
	background: url(images/footer_bg1.gif) repeat-x;
	height: 275px;
	margin-top: 45px;
}

.footer_mian {
	width: 980px;
	margin: 0 auto;
}

.footer_logo {
	float: left;
}

.footer_promise {
	float: right;
	background: url(images/promise_bg.jpg) no-repeat;
	margin-top: 40px;
	width: 532px;
	height: 45px;
}

.footer_promise ul li {
	width: 177px;
	float: left;
}

.footer_promise ul li img {
	width: 177px;
	height: 45px;
}

.help_link_list {
	width: 828px;
	height: 100px;
	margin: 0 auto;
	padding-top: 70px;
	overflow: hidden;
	text-align: left;
}

ul.help_link {
	float: left;
	display: block;
	overflow: hidden;
	padding: 0 24px;
	text-align: left;
}

ul.help_link p {
	color: #ffffff;
	font-weight: bold;
	line-height: 20px;
	padding-bottom: 5px;
}

ul.help_link li {
	clear: both;
	line-height: 20px;
	color: #ffffff;
}

ul.help_link li a:link {
	color: #ffffff;
	text-decoration: none;
}

ul.help_link li a:visited {
	color: #ffffff;
}

ul.help_link li a:hover {
	color: #ffffff;
	text-decoration: underline;
}

.footer_nav_box {
	background: url(images/footer_nav_bg.gif) repeat-x;
	height: 76px;
}

.footer_nav_box .footer_nav {
	width: 661px;
	margin: 0 auto;
	color: #292928;
}

.footer_nav ul li {
	float: left;
	padding: 10px 20px 20px 20px;
}

.footer_nav ul li  a:link {
	color: #292928;
	text-decoration: none;
}

.footer_nav ul li  a:visited {
	color: #292928;
}

.footer_nav ul li  a:hover {
	color: #292928;
	text-decoration: underline;
}

.copyright {
	clear: both;
	padding: 0px 0;
	margin: 0 auto;
	overflow: hidden;
	color: #999;
	font-family: Verdana;
	font-weight: bold;
	text-align: center;
	line-height: 20px;
}

.web_title {
	clear: both;
	height: 34px;
	line-height: 34px;
	overflow: hidden;
	text-align: left;
}

.web_title .title_l {
	float: left;
	padding-left: 10px;
	background: url(images/title_l.gif) no-repeat;
	width: 72px;
	height: 34px;
}

.web_title .title_c {
	float: left;
	background: url(images/title_c.gif) repeat-x;
	height: 34px;
}

.web_title .title_r {
	float: right;
	background: url(images/title_r.gif) no-repeat;
	width: 40px;
	height: 34px;
}

.web_title .w78 {
	width: 78px;
}

.web_title .w584 {
	width: 584px;
}

.web_title .w796 {
	width: 792px;
}

.web_title .w795 {
	width: 792px;
}

.web_title .w797 {
	width: 792px;
}

.web_title .w393 {
	width: 393px;
}

.web_title .w192 {
	width: 202px;
}

.web_title .w88 {
	width: 88px;
}

.web_title .w673 {
	width: 673px;
}

.web_title .w515 {
	width: 515px;
}

.web_title .w107 {
	width: 107px;
}

.web_title .w676 {
	width: 673px;
	text-align: center;
}

.web_title .w96 {
	width: 96px;
}

.web_title .w98 {
	width: 98px;
}
.prolist .web_title .w581 {
	width: 581px;
}
.web_title .w581 {
	width: 581px;
}

.web_title .w796 {
	width: 811px;
}

.web_title .w409 {
	width: 409px;
}

.web_title .w202 {
	width: 202px;
}

.web_title .w599 {
	width: 599px;
}

.web_title .w78 {
	width: 78px;
}

.title_more {
	background: url(images/title_more.gif) no-repeat;
	width: 107px;
	height: 34px;
	float: right;
}

.title_l {
	font-weight: bold;
	font-size: 14px;
	color: #40591f;
}

.title_l a {
	color: #40591f;
}

.title_l a:hover {
	color: #40591f;
}

.web_title .title {
	background: url(images/nav_bg2.gif) no-repeat;
	font-size: 14px;
	clear: both;
	height: 32px;
	overflow: hidden;
	padding: 0 8px;
	display: block;
	color: #40591F;
	font-weight: bold;
}

.web_title .title_line {
	background: url(images/nav_line1.gif) no-repeat;
	clear: both;
	height: 2px;
	overflow: hidden;
}

.web_title .title .more {
	float: right;
	color: #888;
	font-weight: normal;
}

.web_title .title .more a {
	color: #888;
}

.web_title .title .tishi {
	float: right;
	color: #888;
	font-weight: normal;
}

.web_title .title .seo {
	float: left;
	margin-left: 15px;
	color: #888;
	font-weight: normal;
}

.web_title .title .seo a {
	color: #888;
}

.web_title .title .t_01 {
	float: left;
	color: #333;
	font-weight: bold;
}  /*index title*/
.web_title .title .t_01 a {
	color: #333;
}

.title_con_bg {
	clear: both;
	background: #F3F3F3 url(images/con_bg.gif) repeat-x top;
}

.web_title .tline_01 {
	width: 210px;
	background-position: 0px 0px;
}

.web_title .tline_02 {
	width: 260px;
	background-position: 0px -2px;
}

.web_title .tline_03 {
	width: 500px;
	background-position: 0px -4px;
}

.web_title .tline_04 {
	width: 760px;
	background-position: 0px -6px;
}

.web_title .tline_05 {
	width: 1000px;
	background-position: 0px -8px;
}

.web_title .tline_06 {
	width: 730px;
	background-position: 0px -10px;
}

.web_title .tline_07 {
	width: 780px;
	background-position: 0px -12px;
}

.web_title .tline_08 {
	width: 588px;
	background-position: 0px -14px;
}

.web_title .tline_09 {
	width: 402px;
	background-position: 0px -16px;
}

/*left nav*/
.left_nav {
	clear: both;
	width: 187px;
	padding: 7px 3px 0 12px;
	border: 1px solid #8C8C8C;
	margin: 0 auto;
	border-top: none;
	overflow: hidden;
	text-align: left;
	background: #fff;
}  /*index left_nav:height:620px;*/
.left_nav li {
	clear: both;
	text-align: left;
	line-height: 20px;
	padding: 2px 0px;
}

.left_nav li .nav_mian {
	clear: both;
	height: 20px;
	overflow: hidden;
	color: #40591F;
	font-weight: bold;
	line-height: 20px;
}

.left_nav li .nav_mian .letter {
	font-size: 10px;
	color: #999;
	font-family: Arial;
	font-weight: normal;
	margin-left: 8px;
}

.left_nav li .nav_mian a:hover .letter {
	color: #FFF;
}

.nav_on {
	color: #FFF !important;
	background: #40591F;
}

.nav_on .letter {
	color: #FFF !important;
}

.left_nav li .nav_mian a:link {
	color: #40591F;
}

.left_nav li .nav_mian a:visited {
	color: #40591F;
}

.left_nav li .nav_mian a:hover {
	color: #FFF;
	height: 20px;
	background: #40591F;
	text-decoration: none;
}

.left_nav li .nav_sub {
	clear: both;
	border-bottom: 1px dotted #D3D3D3;
	padding: 4px 0px;
	text-align: left;
	line-height: 18px;
}

.left_nav li .nav_sub a {
	margin: 0 3px;
}

.left_nav li .nav_sub a.nav_on {
	color: #FFF !important;
	background: #40591F;
}

.left_nav li .nav_sub a.start {
	margin-left: 0px;
}

.left_nav li .nav_sub a.end {
	margin-right: 0px;
}

/*Comments new 首页6条*/
.comments {
	clear: both;
	width: 182px;
	background: #FFF;
	border: 1px solid #8c8c8c;
	margin: 0 auto;
	border-top: none;
	padding: 12px 10px 4px 10px;
	overflow: hidden;
	text-align: left;
}

.comments li {
	clear: both;
	height: 98px;
	overflow: hidden;
	text-align: left;
	line-height: 20px;
}

.comments li p.title_pl {
	color: #40591F;
}

.comments li p.time {
	text-align: right;
	line-height: 18px;
}

.foot_msg_box {
	display: none;
	padding: 0;
	right: 5px;
	bottom: 5px;
	width: 352px;
	position: absolute;
	z-index: 9999;
	border: 1px solid #8c8c8c;
	background: #fff;
	padding: 1px;
}

.foot_msg_tp {
	margin: 0;
	padding: 0;
	width: 352px;
	overflow: hidden;
	position: relative;
	text-align: right;
}

.foot_msg_tpBg {
	background: url(images/foot_msg_tpBg2.jpg) no-repeat;
	width: 352px;
	height: 29px;
}

.foot_msg_tp p.close {
	display: block;
	top: 6px;
	right: 6px;
	margin: 0 auto;
	position: absolute;
}

.foot_logo {
	float: left;
	padding-left: 8px;
	padding-top: 5px;
	padding-top: 2px\0;
}

.foot_logo a {
	margin-right: 15px;
}

.foot_logo a img {
	vertical-align: bottom;
}

.foot_main {
	float: left;
	width: 352px;
	text-align: left;
}

.foot_left {
	float: left;
	background: url(images/foot_msg_leftBg.png) 0 0 no-repeat;
	padding-top: 70px;
	width: 67px;
	height: 153px;
	position: relative;
	z-index: 2;
}

.foot_left p {
	margin-left: 1px;
	padding-bottom: 3px;
}

.foot_img {
	float: left;
}

.foot_nav {
	background: url(images/foot_nav.jpg) 0 0 no-repeat;
	width: 270px;
	height: 22px;
	padding-top: 13px;
	padding-left: 15px;
}

.tabContainer ul li {
	float: left;
	width: 39px;
	height: 18px;
	border: 1px solid #9e9e9e;
	border-bottom: none;
	text-align: center;
	line-height: 18px;
	background: url(images/foot_navBg.gif) repeat-x;
	margin-right: 9px;
	font-size: 12px;
}

.tabContainer ul li.current {
	background: #fff;
}

.tabContainer ul li.current a {
	color: #f00;
	text-decoration: none;
}

.foot_msg_tp div.hd_tp {
	margin: 0;
	padding: 0;
	clear: both;
	position: absolute;
	z-index: 1;
	left: 64px;
	top: 60px;
}

.foot_msg_tp div.hd_tp img {
	margin: 0;
	padding: 0;
	width: 288px;
	height: 194px;
}

.foot_ad {
	float: left;
	width: 352px;
	height: 35px;
	background: url(images/foot_msg_btmBg.png) 0 0 no-repeat;
	padding-top: 5px;
}

.foot_ad ul {
	float: left;
	border: 1px solid #fff;
	margin-left: 2px;
}

.foot_ad ul li {
	float: left;
	border: 1px solid #fff;
}

.foot_ad ul li img {
	vertical-align: top;
}

/*底部显示*/
.mm_foot_wrap {
	height: 70px;
	overflow: hidden;
	text-align: center;
	-moz-opacity: 0.90;
	opacity: 0.90;
	filter: alpha(opacity = 90);
	background: url(images/mm_foot_bg.gif) repeat-x bottom;
}

.mm_foot_wrap * {
	position: relative;
}

.mm_foot {
	width: 1000px;
	height: 70px;
	margin: 0 auto;
	overflow: hidden;
	color: #FFF;
}

.mm_foot .mm_foot_goods {
	float: left;
	width: 100px;
	height: 70px;
	overflow: hidden;
}

.mm_foot .mm_foot_goods img {
	width: 100px;
	height: 70px;
}

.mm_foot .mm_ontime {
	float: right;
	width: 210px;
	height: 30px;
	margin: 35px 0px 0 0px;
	overflow: hidden;
	text-align: center;
}

.mm_foot .mm_ontime img {
	height: 20px;
}

.mm_foot .mm_foot_con {
	float: left;
	width: 690px;
	height: 35px;
	margin: 30px 0px 0 0px;
	overflow: hidden;
	text-align: left;
}

.mm_foot .mm_foot_p1 {
	float: left;
	width: 215px;
	height: 35px;
	padding: 0 0px 0 25px;
	overflow: hidden;
	line-height: 17px;
}

.mm_foot .mm_foot_p2 {
	float: left;
	width: 360px;
	height: 20px;
	padding: 7px 20px;
	margin: 0 24px;
	overflow: hidden;
	line-height: 20px;
	border-left: 1px solid #CCB76D;
	border-right: 1px solid #CCB76D;
}

.mm_foot .mm_arrow {
	float: left;
	width: 14px;
	cursor: pointer;
	display: block;
	height: 16px;
	margin: 2px 0 0px 0px;
	_height: 19px;
	_margin: 1px 0 0px 0px;
	overflow: hidden;
}

.mm_foot .mm_arrow img {
	width: 14px;
	height: 16px;
}

.mm_foot .mm_foot_p2 .footer_scroll {
	float: left;
	width: 320px;
	height: 20px;
	padding: 0px 6px;
	overflow: hidden;
}

.mm_foot .font_sm {
	color: #CCB76D;
}

.mm_foot a:link {
	color: #FFF;
}

.mm_foot a:visited {
	color: #FFF;
}

.mm_foot a:hover {
	color: #FFF;
}

/*end*/
.anchor {
	font-size: 0;
	height: 0;
}

/*二级左侧导航*/
.man_nav,.wom_nav,.child_nav {
	float: left;
	background: url(images/bg_left_nav.gif) 0 0 no-repeat;
	width: 70px;
	height: 31px;
	margin-top: 3px;
	text-align: center;
	color: #696969;
	cursor: pointer;
}

.man_nav.on,.wom_nav.on,.child_nav.on {
	float: left;
	background: url(images/bg_left_nav.gif) 0 0 no-repeat;
	width: 70px;
	height: 34px;
	margin-top: 0;
	font-size: 14px;
	color: #3a4e18;
	font-weight: bold;
	cursor: pointer;
	text-align: center;
}

.man_nav {
	background-position: 0 -34px;
}

#man_p.on {
	background-position: 0 0;
}

.wom_nav {
	background-position: -70px -34px;
}

#wom_p.on {
	background-position: -70px 0;
}

.child_nav {
	background-position: -140px -34px;
}

#child_p.on {
	background-position: -140px 0;
}

.wom_nav_main {
	color: #FFF;
	text-align: center;
	font-weight: bold;
	background: url(images/wom_anv_bg.gif) no-repeat;
	width: 60px;
	height: 18px;
}

.left_nav .wom_mian a {
	color: #405a1d;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
}

.left_nav .wom_mian a:hover {
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	text-decoration: none;
	background: #40591F
}

.left_nav .wom_mian {
	border-bottom: 1px dotted #D3D3D3;
	padding: 5px 3px;
}

.left_nav .wom_mian .letter {
	font-weight: normal;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
	margin-left: 8px;
	color: #999;
}

.left_nav .nav_sub.lh {
	line-height: 22px;
	padding-left: 3px;
}

/*left_nav*/
.left_nav_mian2 {
	clear: both;
	height: 20px;
	overflow: hidden;
	font-weight: bold;
	text-align: left;
	line-height: 20px;
	padding: 0 0 0 13px;
}

.left_nav_sub2 {
	clear: both;
	overflow: hidden;
	text-align: left;
	line-height: 20px;
	padding: 4px 4px 4px 21px;
	width: 150px;
	border-bottom: 1px dotted #d3d3d3;
}

.left_nav_sub2 a {
	margin: 0 3px;
}

.category_goods_search {
	clear: both;
	height: 24px;
	margin-top: 10px;
	width: 758px;
	overflow: hidden;
	color: #274302;
	background: #fff;
	font-weight: bold;
	line-height: 24px;
	border: 1px solid #8c8c8c;
}

.left_pic {
	clear: both;
	width: 204px;
	overflow: hidden;
	margin: 0 auto;
}

.left_pic img {
	clear: both;
	width: 204px;
	margin: 8px auto 0;
}

.show {
	display: block;
}

.hide {
	display: none;
}

/*当前位置*/
.info_nav {
	float: left;
	padding: 10px 0px 10px 10px;
}