.bold {
	font-weight: bold;
}

/*主体内容样式*/
#content {
	border: 1px solid #AAA;
	margin: 10px auto;
	width: 1000px;
	background: #fff
}

.global_module h3 {
	height: 26px;
	background: #3B5998;
	color: #FFF;
	line-height: 26px;
	text-indent: 6px;
}

.pro_detail {
	width: 980px;
	height: auto;
	overflow: hidden;
	padding: 10px;
}

/*左列*/
.pro_detail_left {
	width: 480px;
	float: left;
	overflow: hidden;
}

.pro_detail_left .jqzoom {
	border: none;
	float: left;
	position: relative;
	padding: 0px;
	cursor: pointer;
}

.pro_detail_left .fs {
	width: 450px;
	height: 450px;
}

.pro_detail_left span {
	display: block;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 480px;
	clear: both;
}

.pro_detail_left span a:hover {
	text-decoration: none;
}

.pro_detail_left ul.imgList {
	height: 80px;
}

.pro_detail_left ul.imgList li {
	float: left;
	margin-right: 10px;
}

.pro_detail_left ul.imgList li img {
	width: 60px;
	height: 60px;
	padding: 1px;
	background: #EEE;
	cursor: pointer;
}

.pro_detail_left ul.imgList li img:hover {
	padding: 1px;
	background: #999;
}

.tab {
	width: 960px;
	margin: 0 auto;
	margin-bottom: 10px;
}

.tab_menu {
	clear: both;
	width: 960px;
	margin: 0 auto;
	padding: 5px 0 0;
	overflow: hidden;
	background: #FFF;
}

.tab_menu li {
	float: left;
	text-align: center;
	cursor: pointer;
	list-style: none;
	padding: 1px 6px;
	margin-right: 4px;
	background: #F1F1F1;
	border-bottom: none;
}

.tab_menu li:hover {
	background: url(images/xq_goods_tp2.gif) 0 2px no-repeat;
	width: 83px;
	height: 26px;
	margin-right: 5px;
	line-height: 34px;
}

.tab_menu li.selected {
	background: url(images/xq_goods_tp1_new.gif) no-repeat;
	height: 26px;
	line-height: 30px;
	overflow: hidden;
	font-weight: bold;
}

.tab_menu li.selected hover {
	background: url(images/xq_goods_tp1_new.gif) no-repeat;
	height: 26px;
	line-height: 30px;
	overflow: hidden;
	font-weight: bold;
}

.tab_menu li.selected a {
	color: #274302;
}

.tab_box {
	clear: both;
}

.hide {
	display: none
}

.goods_xq_title {
	float: left;
	margin-top: 30px;
}

.goods_xq_title li {
	float: left;
	background: url(images/xq_goods_tp2.gif) 0 2px no-repeat; width : 83px;
	height: 26px;
	margin-right: 5px;
	line-height: 34px;
	overflow: hidden;
	width: 83px;
}

/*右列*/
.pro_detail_right {
	width: 380px;
	float: left;
	margin: 10px;
}

.pro_detail_right .color_change {
	width: 380px;
	font-weight: bold;
	float: left;
	display: inline;
	margin-bottom: 10px;
	text-align: left;
}

.pro_detail_right .color_change ul li {
	float: left;
	margin-right: 10px;
}

.pro_detail_right .color_change img {
	width: 30px;
	height: 30px;
	padding: 1px;
	background: #EEE;
	border: 1px solid #BBB;
	cursor: pointer;
}

.pro_detail_right .color_change img:hover {
	padding: 1px;
	background: #999;
}

.pro_detail_right .pro_size {
	width: 380px;
	font-weight: bold;
	float: left;
	display: inline;
	margin-bottom: 10px;
	text-align: left;
}

.pro_detail_right .pro_size ul li {
	float: left;
	margin-right: 5px;
}

.pro_detail_right .pro_size ul li span {
	display: block;
	margin-right: 6px;
	padding: 1px 12px;
	border: 1px solid #AAA;
	cursor: pointer;
}

.pro_detail_right .pro_size ul li span:hover {
	background: #CCC;
}

.pro_detail_right .pro_num {
	width: 380px;
	font-weight: bold;
	float: left;
	display: inline;
	margin-bottom: 10px;
	text-align: left;
}

.pro_detail_right .pro_price {
	width: 380px;
	font-weight: bold;
	float: left;
	display: inline;
	margin-bottom: 10px;
	text-align: left;
}

.pro_detail_right .pro_rating {
	width: 380px;
	font-weight: bold;
	float: left;
	display: inline;
	margin-bottom: 10px;
	text-align: left;
}

/* 评分css */
.rating {
	width: 80px;
	height: 16px;
	margin: 0 0 20px 0;
	padding: 0;
	list-style: none;
	clear: both;
	position: relative;
	background: url(../images/star-matrix.gif) no-repeat 0 0;
}

.nostar {
	background-position: 0 0
}

.onestar {
	background-position: 0 -16px
}

.twostar {
	background-position: 0 -32px
}

.threestar {
	background-position: 0 -48px
}

.fourstar {
	background-position: 0 -64px
}

.fivestar {
	background-position: 0 -80px
}

ul.rating li {
	cursor: pointer;
	float: left;
	text-indent: -999em;
}

ul.rating li a {
	position: absolute;
	left: 0;
	top: 0;
	width: 16px;
	height: 16px;
	text-decoration: none;
	z-index: 200;
}

ul.rating li.one a {
	left: 0
}

ul.rating li.two a {
	left: 16px;
}

ul.rating li.three a {
	left: 32px;
}

ul.rating li.four a {
	left: 48px;
}

ul.rating li.five a {
	left: 64px;
}

ul.rating li a:hover {
	z-index: 2;
	width: 80px;
	height: 16px;
	overflow: hidden;
	left: 0;
	background: url(../images/star-matrix.gif) no-repeat 0 0
}

ul.rating li.one a:hover {
	background-position: 0 -96px;
}

ul.rating li.two a:hover {
	background-position: 0 -112px;
}

ul.rating li.three a:hover {
	background-position: 0 -128px
}

ul.rating li.four a:hover {
	background-position: 0 -144px
}

ul.rating li.five a:hover {
	background-position: 0 -160px
}

/*jQzoom*/
div.zoomdiv {
	z-index: 999;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 200px;
	height: 200px;
	background: #ffffff;
	border: 1px solid #CCCCCC;
	display: none;
	text-align: center;
	overflow: hidden;
}

div.jqZoomPup {
	z-index: 999;
	visibility: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 50px;
	height: 50px;
	border: 1px solid #aaa;
	background: #ffffff url(../images/zoomlens.gif) 50% top no-repeat;;
	opacity: 0.5;
	-moz-opacity: 0.5;
	-khtml-opacity: 0.5;
	filter: alpha(Opacity = 50);
}

/*商品说明*/
.goods_intro {
	clear: both;
	padding: 0px 20px;
}

.goods_intro p {
	clear: both;
	text-align: left;
}

.goods_intro p.line {
	clear: both;
	border-top: 1px dashed #999797;
	margin-top: 10px;
}  /*分割虚线---毛衫说明*/
.goods_intro p.title {
	color: #260E06;
	line-height: 22px;
	margin-top: 10px;
}

.goods_intro p.con {
	color: #666666;
	padding-left: 12px;
	line-height: 18px;
}

.goods_intro p.intro_title {
	color: #333333;
	line-height: 20px;
}

.goods_intro p.title2 {
	color: #406491;
	margin-top: 10px;
	line-height: 22px;
	font-weight: bold;
}  /*毛衫说明*/
.goods_intro p.con2 {
	color: #406491;
	padding-left: 12px;
	line-height: 18px;
}  /*毛衫说明*/
.goods_intro p.img {
	clear: both;
	text-align: center;
}  /*图片:max-width:900px;*/
.goods_intro p.img img {
	margin: 0 auto;
}
/*goods detail*/
.goods_ri_p1{clear:both;text-align:left;line-height:20px;padding:5px 0; margin:10px 0;}
.goods_ri_p1 .price{
   color:#333333; font-size:12px; font-family:Arial; font-weight:bold; text-decoration:line-through;
}
.goods_ri_p3{clear:both;width:460px;overflow:hidden;text-align:left;line-height:20px;padding:10px 0;margin-bottom:10px;}
.goods_ri_p3_r{clear:both;width:460px;overflow:hidden;text-align:left;line-height:18px;}
.goods_ri_p3_r p{float:left;}
.goods_ri_p3_r p.left{padding-right:15px;width:215px;}
.goods_ri_p3_r p.right{width:230px;}
.goods_ri_p3_r p.line{width:330px;}
.bt{ border-bottom:1px #ddd dashed;}
.price24{ font-size:24px; color:#c00; margin-right:5px;}
.gray9, .gray9 a:link, .gray9 a:visited, .gray9 a:hover{color:#999999;}
.yuan{font-family:Arial; margin:0 2px 0 0;}
