/*������ʽ��ʼ*/
#navigation { 
	width:984px;
	padding:8px; 
	margin:0px auto; 
	
	height:16px;
	line-height:16px;
}
.menu-nav{
	background:url(images/menu_bg3.gif) repeat-x; border-bottom:1px solid #c2c2c2;  border-top:1px solid #aeaeae;
	background:url(images/menu_bg3.gif) repeat-x;
}
#navigation ul li { 
	float:left; 
	margin-right:14px;
	position: relative ;
	z-index:100;
}
#navigation ul li a { 
	display:block;
	padding:0 8px; 
	font-weight:700;
}
#navigation ul li a:hover { 
	background-color: #88C366;
	color:#fff;
}
#navigation ul li ul{
	position: absolute;
	width: 80px;
	overflow:hidden;
	display:none;
}
#navigation ul li:hover ul{
	background-color: #ccc;
	position: absolute;
	width: 100px;
	display:block;
}
#navigation ul li ul li{
	border-bottom: 1px solid #BBB;
	text-align: left;
	width: 100%;
}
/*������ʽ����