
/* CSS Document */
.edit-area
{
    width: 1000px; 
    margin: 0 auto; 
}

.edit-header
{
}

.edit-name-basic{}

.edit-tabs{}

#nameHeader {
  font-family: 微软雅黑,黑体,宋体;
  font-size: 18px;
  height: 32px;
}

#nameLabel 
{
	width:750px;
}

.profileTabSelect {
    background-color: #F2F2F2;
    border-top: 3px solid #FCB040;
    display: block;
    float: left;
    font-family: 微软雅黑,黑体,宋体;
    height: 31px;
    line-height: 31px;
    text-align: center;
    width: 226px;
}

.profileTab {
    background-color: #F2F2F2;
    display: block;
    float: left;
    font-family: 微软雅黑,黑体,宋体;
    height: 34px;
    line-height: 34px;
    text-align: center;
    width: 226px;
}



.edtiSavePanel {
  float: left;
  font-size: 14px;
}
    
.saveItemTab {
  background-color: #E0E0E0;
  float: left;
  height: 34px;
  text-align: center;
  width: 48px;
}

.preview-btn {
  background: url("images/preview.png") no-repeat scroll 0 0 transparent;
  cursor: pointer;
  height: 12px;
  margin-left: 7px;
  margin-top: 11px;
  width: 22px;
}

.save-btn {
  background: url("images/save.png") no-repeat scroll 0 0 transparent;
  height: 16px;
  margin-top: 9px;
  width: 17px;
  cursor: pointer;
}

.edit-header-label {
    float: left;
    margin-right: 15px;
    margin-top: -1px;
    width:auto;
}

.edit-header-label-edit {
  padding-top: 2px;
  display: inline-block;
}

.edit-title-desp {
  color: #B6B6B6;
  height: 24px;
  padding-top: 3px;
}

.edit-title-desp a 
{
	font-size:12px;
	color:#84acd1;
    font-family: 宋体;
}

.edit-title-desp .tu {
  float: left;
  margin-left: 3px;
  margin-right: 44px;
  cursor:pointer;
}

.edit-title-desp .tu-hl {
  color: #FFA61A;
  float: left;
  margin-left: 3px;
  margin-right: 44px;
}

.edit-title-desp .tu-icon {
  float: left;
  height: 24px;
}

.edit-title-desp .tu-icon IMG {
  margin-top: 1px;
}

.edit-title-desp .lb {
  float: left;
  margin-left: 3px;
  cursor:pointer;
}

.edit-title-desp .lb-hl
{  float: left;
  margin-left: 3px;
  color:#ffa61a;}

.edit-title-desp .lb-icon {
  float: left;
  height: 24px;
  margin-left: 25px;
}

.edit-title-desp .lb-icon IMG {
  margin-top: 3px;
}

.edit-suggest-wrapper {
  padding-right: 14px;
}

.edit-suggest-search {
  border: 1px solid #C7C7C7;
  height: 27px;
}

.content-wrapper .edit-content 
{
}

.edit-content .edit-left-wrapper {
  border-right: 1px solid #E0E0E0;
  float: left;
  width: 318px;
}

.edit-content .edit-right-wrapper {
 margin:0 0 0 334px;
}

.mapSwitch {
  height: 27px;
  padding-top: 4px;
  vertical-align: middle;
}

.mapSwitch > a {
  color: Blue;
  font-size: 12px;
  text-decoration: underline;
}

.selected-item-panel
{
}

.selected-item-panel .selected-item {
  border-bottom: 1px dashed #C7C7C7;
  margin-bottom: 12px;
  padding-bottom: 5px;
}

.selected-item-panel .selected-item .main {
  margin-left: 68px;
  min-height: 48px;
}

.selected-item-panel .selected-item .photo {
  float: left;
  width: 48px;
  text-align:center;
}

.selected-item-panel .selected-item .photo a {
	color: #84ACD1;
	font-size:12px;
	text-decoration: underline;
}

.selected-item-panel .selected-item .photo IMG {
  height: 48px;
  width: 48px;
}

.selected-item-panel .selected-item .main .info {
}

.selected-item-panel .selected-item .main .other {
  margin-top: 10px;
}

.selected-item-panel .selected-item .main .other .rel {
  color: #AAAAAA;
}

.selected-item-panel .selected-item .main .other .rel .textbox {
  background-color: #FEF1CF;
  border: 1px solid #E4DED0;
  height: 24px;
  padding-left: 4px;
  width: 350px;
}

.selected-item-panel .selected-item .main .other .rel .rel-val {
  float: left;
  margin-right: 10px;
}

.selected-item-panel .selected-item .main .other .rel .rel-edit {
  padding-top: 3px;
  vertical-align:middle;
}

.selected-item-panel .selected-item .main .other .opr {
  float: right;
}

.selected-item-panel .selected-item .main .other .opr A {
    color: #84ACD1;
    margin-left: 13px;
}


.selected-item-panel .selected-item .main .info .name {
  font-size: 16px;
  margin-right: 15px;
  font-family: 微软雅黑,黑体,宋体;
}

.selected-item-panel .selected-item .main .info .name A {
  font-family: 微软雅黑,黑体,宋体;
}

.selected-item-panel .selected-item .main .info .label {
  color: #717171;
}
    
.selected-item-panel .selected-item .main .oprpanel {
  background-color: #C7D7EF;
  border: 1px solid #A2B4CA;
  padding: 7px;
}

.selected-item-panel .selected-item .main .rel-opr-panel 
{
  margin-bottom: 12px;
}

.selected-item-panel .selected-item .main .rel-opr-panel .rel-suggest {
    margin-bottom: 0;
    margin-top: 5px;
    padding-top: 5px;
}


.selected-item-panel .selected-item .main .rel-opr-panel .rel-suggest .rel-suggest-item {
  margin-right: 3px;
  display:inline;
}

.selected-item-panel .selected-item .main .rel-opr-panel .rel-suggest .rel-suggest-item A
{
    text-decoration:underline;
    margin-right: 4px;
}

.selected-item-panel .selected-item .main .rel-opr-panel .rel-suggest .rel-suggest-item-add {
  display:inline-block;
  width:15px;
  height:16px;
  cursor:pointer;
  cursor:hand;
  vertical-align:middle;
}

.selected-item-panel .selected-item .main .rel-opr-panel .rel-suggest .rel-suggest-item-add IMG {
  margin-top: 2px;
  cursor:pointer;
}

.selected-item-panel .selected-item .main .rel-opr-panel .rel-opr{}

.selected-item-panel .selected-item .main .rel-opr-panel .rel-opr .ok {
  background: url("images/ok.png") no-repeat scroll 0 0 transparent;
  cursor: pointer;
  height: 26px;
  width: 57px;
}

.selected-item-panel .selected-item .main .rel-opr-panel .rel-opr .cancel {
  background-color: white;
  cursor: pointer;
  height: 26px;
  width: 57px;
}

.selected-item-panel .selected-item .main .connect {
  background: url("images/popup.png") no-repeat scroll -95px 0 transparent;
  height: 95px;
  width: 604px;
}

.selected-item-panel .selected-item .main .connect .instr {
  padding: 9px 5px 0;
}

.selected-item-panel .selected-item .main .connect .empty {
  padding: 43px 0 0 200px;
}

.selected-item-panel .selected-item .main .connect .instr .none {
  float: right;
}

.selected-item-panel .selected-item .main .connect .instr .none A {
  text-decoration: underline;
}

.selected-item-panel .selected-item .main .connect .instr .t{}

.selected-item-panel .selected-item .main .connect .list{}

.selected-item-panel .selected-item .main .connect .list .en {
  float: left;
  height: 55px;
  padding: 5px 5px 1px;
  width: 181px;
  cursor:pointer;
}

.selected-item-panel .selected-item .main .connect .list .en:hover
{
	background-color: #e8d6a6;
}

.selected-item-panel .selected-item .main .connect .list .en-body {
  height: 55px;
  margin-left: 20px;
}

.selected-item-panel .selected-item .main .connect .list .en .pho {
  float: left;
}

.selected-item-panel .selected-item .main .connect .list .en .pho IMG
{
        height: 46px;
        width: 46px;
    }

.selected-item-panel .selected-item .main .connect .list .en .detail {
  margin-left: 55px;
}

.selected-item-panel .selected-item .main .connect .list .en .detail .name {
  font-size: 14px;
  height: 27px;
}

.selected-item-panel .selected-item .main .connect .list .en .detail .name A
{font-family: 微软雅黑,黑体,宋体;}

.selected-item-panel .selected-item .main .connect .list .en .detail .label
{
	
	overflow:hidden;
	height:20px;
}

.selected-item-panel .selected-item .main .connect .list .en-next {
  padding-top: 20px;
}

.selected-item-panel .selected-item .main .connect .list .en-prev {
  float: left;
  padding: 20px 7px 0;
}

.selected-item-panel .selected-item .main .connect .list .en-next IMG{}




.selected-item-panel .selected-item .main .oprpanel A
{
    color:blue;
    text-decoration: underline;
}

.selected-item-panel .selected-item .main .oprpanel .textbox {
  border: 1px solid #A2B4CA;
  height: 20px;
  padding-left: 4px;
  width: 160px;
}
.selected-item-panel .selected-item .main .oprpanel .line {
  padding: 3px;
}

.selected-item-panel .selected-item .main .oprpanel .line .okay {
  background: url("images/selectshowamount.png") no-repeat scroll left top transparent;
  cursor: pointer;
  height: 20px;
  width: 49px;
}

.selected-item-panel .selected-item .main .oprpanel .line .cancel {
  background-color: #C7D7EF;
  cursor: pointer;
  height: 20px;
  width: 49px;
}

.selected-item-panel .selected-item .main .oprpanel .line .tag
{
    margin-left:8px;
}

.selected-item-panel .selected-item .main .oprpanel .line .opr-title {
}

.selected-item-panel .selected-item .main .oprpanel .line .close {
  float: right;
}

.selected-item-panel .selected-item .main .oprpanel .del 
{
    cursor:pointer;
}


.snsImage
{
    display:block;
    float:left;
    cursor:pointer;
}
.topEditNavigation {
  float: left;
  font-size: 14px;
}

.topEditNavigation A
{
    font-family: 微软雅黑,黑体,宋体;
}



.profileIntro
{
    line-height:30px;
}
ul.EditPeopleTitleRow li.EditPeopleTitle
{
    /*background: url("images/EditPeopleTitleBg.png") 0px 50% no-repeat;
    padding-left: 20px;*/
    font-weight: bold;
    font-size:13px;
}
.EditOrganizationTitle
{
   /* background: url("images/EditOrgTitleBg.png") 0px 50% no-repeat;
    padding-left: 20px;*/
    font-weight: bold;
    font-size:13px;
 
}
.EditOrganizationTitleRow
{
    border-bottom: solid 1px #d5e1ee;
    padding: 3px 0 7px;
}
.EditPeopleTitleRow
{
    border-bottom: solid 1px #d5e1ee;
    padding: 3px 0 7px;
}
#tab1,#tab2 
{
    background: url("images/leftPaneBG.png") 256px 0 repeat-y;   
}
div#EditPeopleLeftPart, div#EditOrganizationLeftPart
{
    width: 267px;
    float: left;
    padding-right:3px;
    padding-top:20px;
}
div#EditPeopleRightPart, div#EditOrganizationRightPart
{
    width: 730px;
    float: left;
    padding-top:15px;
}
.EditPeopleFilterRow
{
    width:267px;
    height: 28px;
    padding: 8px 0px 8px 0px;
    background: url("images/dotLine.png") left bottom repeat-x;
}

input.filterbox {
  display: block;
  float: left;
  font-size: 12px;
  height: 16px;
  margin-left: 5px;
  margin-top: 5px;
  width: 270px;
}

input.btnFilter {
  background: url("images/search.png") no-repeat scroll 0 0 transparent;
  cursor: pointer;
  display: block;
  float: left;
  height: 17px;
  margin: 5px 0 0 5px;
  width: 17px;
}

.editSuggestedItem {
  margin-top: 15px;
}

.editSuggestedItem .photo {
  display: block;
  float: left;
  height: 26px;
  margin-right: 10px;
}

.editSuggestedItem .photo > img {
  height: 26px;
  width: 26px;
}
    
.editSuggestedItem .detail {
}

.editSuggestedItem .detail .header {
  margin-bottom: 3px;
  min-height: 26px;
}

.editSuggestedItem .editButton {
  background-color: #DDDDDD;
  border: 1px solid #A2B4CA;
  color: #666666;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  height: 25px;
  margin-right: 5px;
  margin-top: 5px;
  text-align: center;
  vertical-align: middle;
  width: 155px;
}

.directAdd {
  padding-bottom: 5px;
}

.directAdd .add
{
    padding-left:7px;
}

.directAdd .add > A
{
    text-decoration:underline;
    color:Blue;
}

.editSuggestedItem .editButton > A
{
    color:#555;
}

.editSuggestedItem .detail .header .edit {
  float: right;
  padding-top: 4px;
}

.editSuggestedItem .detail .header .edit .remove {
  height: 9px;
  margin-left: 10px;
  margin-top: 4px;
  width: 10px;
}
    
.editSuggestedItem .detail .header .name {
  font-family: 微软雅黑,黑体,宋体;
  font-size: 14px;
}

.editSuggestedItem .detail .header .label
{
	max-height: 17px;
	overflow:hidden;
	height: auto;
	color: #999999;
}

.editSuggestedItem .detail .header .name > A
    {
    text-decoration:underline;
    color:Blue;
}

.editSuggestedItem .detail .blocktext {
  color: #717171;
  font-size: 12px;
  line-height: 18px;
}

.editSuggestedItem .detail .link {
  height: 22px;
}

.editSuggestedItem .detail .link .mr {
  float: right;
}
.editSuggestedItem .detail .link .mr A {
color:#84acd1;
}

.editSuggestedItem .detail .link .url {
  color: #0e774a;
  font-size: 12px;
  margin: 0;
}

.editSuggestedItem .detail .link .url A
{
    color: #0e774a;
}

.small-en-card-container {
  background-color: White;
  border: 1px solid #AAAAAA;
  cursor: pointer;
  height: 39px;
  margin-top: 8px;
  padding: 5px;
  width: 300px;
}

.small-en-card-container .photo {
  float: left;
}

.small-en-card-container .photo img {
  border: 1px solid #AAAAAA;
  height: 36px;
  padding: 1px;
  width: 36px;
}

.small-en-card-container .info {
  margin-left: 46px;
}
.small-en-card-container .info .name {
  font-size: 14px;
  font-weight: bold;
}
.small-en-card-container .info .label {
  font-size: 12px;
}

.suggestion-opr {
  margin-top: 15px;
  height:40px;
  float:right;
}

.suggestion-opr .addAll {
  background: url("images/add_all.png") no-repeat scroll 0 0 transparent;
  height: 22px;
  width: 71px;
  margin-left: 8px;
  cursor:pointer;
}

.suggestion-opr .changeAll {
  background: url("images/next_group.png") no-repeat scroll 0 0 transparent;
  height: 22px;
  width: 68px;
  cursor:pointer;
}

.en-card-container {
  background-color: White;
  border: 2px solid #AAAAAA;
  height: 67px;
  padding: 8px;
  position: absolute;
  width: 250px;
}

.en-card-container .photo {
  float: left;
}

.en-card-container .photo img {
  border: 1px solid #AAAAAA;
  height: 64px;
  padding: 1px;
  width: 64px;
}

.en-card-container .info {
  margin-left: 75px;
}
.en-card-container .info .name {
  font-size: 16px;
  font-weight: bold;
}
.en-card-container .info .label {
  padding-left: 1px;
  padding-top: 4px;
  font-size: 12px;
}

.en-card-container .info .opr{
    padding-left: 1px;
    padding-top: 4px;
    font-size: 12px;
}

.en-card-container .info .opr .catp {
  background: url("images/editPeopleTitleBg.png") no-repeat scroll 0 0 transparent;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  padding-left: 20px;
  margin-right:2px;
}

.en-card-container .info .opr .cato {
  background: url("images/editOrgTitleBg.png") no-repeat scroll 0 0 transparent;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  padding-left: 20px;
  margin-right:2px;
}
.en-card-container .info .opr A
{
     text-decoration:underline;
    color:Blue;
    }

.filterBoxWrap
{
    display:block;
}
div#SuggestedNameList ul.SuggestedNameRow,div#SuggestedOrganizationList ul.SuggestedNameRow
{
    background: url("images/dotLine.png") left bottom repeat-x;   
    padding: 5px 0px;
    min-height:45px;
}
div#SuggestedNameList ul.SuggestedNameRow li,div#SuggestedOrganizationList ul.SuggestedNameRow li
{
    width: 215px;
    font-size:12px;
    color:#777;
    line-height: 15px;
}
div#SuggestedNameList ul.SuggestedNameRow li.photo, div#SuggestedOrganizationList ul.SuggestedNameRow li.photo
{
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 10px;
    border: 1px solid #999;
}
div#SuggestedNameList ul.SuggestedNameRow li.photo img, div#SuggestedOrganizationList ul.SuggestedNameRow li.photo img
{
    width: 40px;
    height: 40px;
}

div#SuggestedNameList ul.SuggestedNameRow li a.SuggestedNameText, div#SuggestedOrganizationList ul.SuggestedNameRow li a.SuggestedNameText
{
    color: #0044CC;
    font-size:14px;
    float:left;
    display:block;
    max-width: 155px;
    cursor:pointer;
    margin-top:3px;
}

div#SuggestedNameList ul.SuggestedNameRow li input.addSuggestedName,div#SuggestedOrganizationList ul.SuggestedNameRow li input.addSuggestedName
{
    padding: 1px 0 0 10px;
    margin: 2px 0 0 5px;
    display:block;
    color:#04408a;
    font-size:12px;
    background: url("images/addRelationBTN.png") 0 0 no-repeat;
    float:left;
    width:47px;
    height:16px;
    border:none;
    cursor:pointer;
}
.checkRelationPage
{
    
}
.sugItemInfoWrap
{
    float:left;
}
li.photo
{
    display:block;
    float:left;
}
li.description
{
    color:#545454;
}
.addAllRow
{

    background: url("images/dotLine.png") left bottom repeat-x;   
    padding:5px 0;
}
#addAllSuggestedMRU,#addAllSuggestedOrganizationMRU
{
    color:#04408a;
    font-size:12px;
    background:none;
    border:none;
    cursor:pointer;
}
.changeAllRow
{
    height:32px;
    background-color:#eef6ff;
    border-bottom: 1px solid #c1daea;
    padding-top: 1px;
    margin-right: 2px;
}
#btnChangePersons,#btnChangeOrganizations,#btnChangeWebpage
{
    background: url("images/changeAllBTN.png") 0 0 no-repeat;
    width:100px;
    height:21px;
    padding-top:3px;
    margin:5px auto 0 auto;
    color:#04408a;
    text-align:center;
    display:block;
    border:none;
    cursor:pointer;
}
.QuickAddTitleRow,.QuickAddOrganizationTitleRow
{
    margin:20px 0 0 0;
    color:#000;
    border-bottom: 1px solid #d5e1ee;
    padding-bottom: 5px;    
}
a.QuickAddTitle,a.QuickAddOrganizationTitle
{
    font-weight:bold;
    cursor:text;
}
a:visited.QuickAddTitle,a:visited.QuickAddOrganizationTitle
{
    color:#000;
    font-family:SimSun;
}
#btnQuickAdd
{
    display:block;
    background: url("images/quickAddBTN.png") 0 0 no-repeat;
    float:left;
    color:#04408a;
    margin-left: 3px;
    border:none;
    height: 20px;
    padding: 2px 0 0 13px;
    width: 52px;
    font-family:SimSun;
    cursor:pointer;
}
#btnQuickAddOrganization
{
    display:block;
    background: url("images/quickAddBTN.png") 0 0 no-repeat;
    float:left;
    color:#04408a;
    margin: 5px 0 20px 46px;
    border:none;
    height: 20px;
    padding: 2px 0 0 13px;
    width: 52px;
    font-family:SimSun;
    cursor:pointer;
}
#txtQuickAdd
{
    display:block;
    background:url("images/quickAddBox.png") 0 0 no-repeat;
    width:194px;
    height:20px;
    padding-left:5px;
    float:left;
    border:none;
}
.QuickAddRow
{
    padding:10px 0;
}

.EditPeopleNavWrap *{outline:0;zoom:1;background:#fff;}  

.currentNavTab
{
    display:none;
}
.unNavTab
{
    width:116px;   
    float:left;
    text-align:center;
    color:#fff;
    font-size: 13px;
    height: 27px;
    padding: 1px 0 0;
    font-family: simsun; 
    display:block;
    border:none;
    cursor:pointer;
    background:url("images/changeBTN.png") 0 0 no-repeat;
    margin-left:10px;
}

.introQuickText
{
    margin-bottom: 30px;
    width: 259px;
}
.editHumanPhoto
{
    width: 52px;
    height: 52px;
    float: left;
    margin-right: 10px;
    border: 1px solid #999;   
}
.entityitemLeft
{
    width:210px;
    float:left;
    padding-top: 2px;
}
.relationshipWrap
{
    float:left;
    width:495px;
}
#RelationshipLTab #EntitiesCheckedBox .entityitem,#OrganizationEntitiesCheckedBox .entityitem
{
    display:block;
    margin: 5px 0 0 10px;
    background: url("images/dotLine.png") left bottom repeat-x;  
    padding-bottom:5px;
    position:relative;
}
.nameWrap .name
{
    font-size:14px;   
    display:block;
    float:left;
}
.nameWrap .exists
{
    background: url("images/exists.png") left bottom no-repeat;  
    min-width:12px;
    height: 13px;
    padding-left:9px;
    color:#e96135;
    font-size:11px;  
    display:block;
    float:left;
    margin-left:5px;
    cursor:pointer;
}
.relationActionTitle
{
    font-size:13px;
    display:block;
    float:left;
    margin-right:5px;
}
.btnEditFact
{
    float:left;
    border:none;
    cursor:pointer;
    width:12px;
    height:12px;
    background:url("images/editIcon.png") left bottom no-repeat;
    margin:3px 8px 0 0;
}
.btnViewRelationPage
{
    float:left;
    border:none;
    cursor:pointer;
    width:12px;
    height:12px;
    background:url("images/zoomIcon.png") left bottom no-repeat;
    margin:3px 8px 0 0;
}
.addNewRelatedFact
{
    float:left;
    border:none;
    cursor:pointer;
    width:73px;
    height:24px;
    background:url("images/tagEditBTN.png") left bottom no-repeat;
    margin:0 5px 0 0;
    color:#0056cc;
}
.tool .remove
{
    right:6px;
    top:15px;
    border:none;
    cursor:pointer;
    width:17px;
    height:17px;
    background:url("images/iteDelBTN.png") left bottom no-repeat;
    position:absolute;
    text-align:center;
 
}
.visualizeGraphicWrap
{
    margin:10px;   
}
.EntityRelationFacts .fact
{
    float:left;
    border:none;    
    width:73px;
    height:24px;
    background:url("images/factTag.png") left top no-repeat;  
    margin:0 5px 0 0;  
    color:#000000;
    text-align:center;
    display:block;
    padding-top:2px;
}



#dialog_editFact
{
    background-color:#eef6ff;
    padding:0;
    
}
.quickAddTag
{
    background-color:#c7d7ef;
    border-top:1px solid #fff;
    padding:10px 10px 5px 10px;  
    font-size:12px; 
}
.quickAddTagBox
{
    background-color:#c7d7ef;
    border-bottom:1px solid #8997a8;
    padding:0 10px 15px 10px;    
}
#viewQuickAddRelationshipPage
{
    border:none;
    background:none;   
    color:#0044cc;
    font-size:12px;
    font-family:SimSun;
    margin-left:15px;
    cursor:pointer;
}
#QuickAddRelationshipDescription
{
    border:1px solid #666666;
    width:260px;
    height:23px;   
}
#btnQuickAddRelationshipDescription
{
    border:none;
    cursor:pointer;
    width:63px;
    height:23px;
    background:url("images/addTagBTN.png") left bottom no-repeat;
    text-align:center; 
    padding-top:2px;  
    margin-left:5px;
    color:#04408a;
    font-size:13px;
    font-family:SimSun;        
}
#SuggestedRelationshipContainer
{
    background-color:#c7d7ef;
    border-bottom:1px solid #ffffff;
    border-top:1px solid #ffffff;
    padding:10px 10px 15px 10px; 
    font-size:12px;
   
}
.confirmAddTag
{
    border-top:1px solid #8997a8;
    padding:10px 10px 10px 10px;
}
#btnSaveRelationshipDescription
{
    border:none;
    cursor:pointer;
    width:102px;
    height:26px;
    background:url("images/confirmAddTag.png") left bottom no-repeat;
    text-align:center; 
    padding-top:2px;   
    color:#04408a;
    font-size:14px;
    font-family:SimSun;      
}
#btnCancelRelationshipDescription
{
    border:none;
    background:none;   
    color:#04408a;
    text-align:center;
    font-size:14px;
    font-family:SimSun; 
    width:90px;   
}
.alreadyAddedTags
{
    font-size:12px;
    color:#000;
    padding:3px 10px 0 10px;
    
}
.AddedRelationshipDescription
{
    display:block;
    float:left;   
    height:17px;
    padding:2px 8px 5px 15px;
    font-size:12px;
    background-color:#30588a;
    color:#fff;
    margin:0 5px 2px 0;
}
.removeTag
{
    background:none;
    cursor:pointer;
    border:none;
    background:url("images/delTagBTN.png") left bottom no-repeat;
    width:11px;
    height:11px;
    margin-left:3px;
    display:block;
    float:left;
    margin-top: 4px;
}
.relationText
{
    display:block;
    float:left;
}
#AddedRelationshipContainer
{
    padding:3px 10px 3px 10px;   
    border-bottom:1px solid #8997a8;
}
#ui-dialog-title-dialog_ExistsEntitiesList
{
    font-weight:bold;
}
#ExistsEntitiesDataBox
{
    font-size:12px;
    border-bottom:1px solid #c7c7c7;
}
.choseEntityMainItem
{
    display:block;   
    padding:5px 15px 3px 15px;
    border-top:1px solid #c7c7c7;
}
.EntityRelationshipFactItem
{
    display:block;  
    padding: 0 10px 5px 15px;
}
.entityName
{
    float:left;
    font-size:14px;
    color:#0145ce;
}
.tool_chose input
{
    float:left;  
    cursor:pointer;
    border:none;
    background:url("images/selectEntity.png") left bottom no-repeat;
    width:43px;
    height:16px;
    padding-top:1px;
    font-size:12px;
    color:#054189;
    margin:1px 0 0 5px;
}
#dialog_ExistsEntitiesList
{
    padding:0;
}
.selectEntitiesIntro
{
    padding:0 15px;
}
.ui-dialog .ui-dialog-titlebar
{
    background-color:#eef7ff;
    padding:0 10px;
    font-size:14px;
    font-weight:bold;
    border:none;
}
.ui-dialog
{
    border:1px solid #263649;
}
#SelectedEntitiesBoxNextPage
{
    background:url("images/nextPage.png") left bottom no-repeat;
    width:25px;
    height:21px;   
    border:none;
    cursor:pointer;
}
#SelectedEntitiesBoxPreviewPage
{
    background:url("images/prePage.png") left bottom no-repeat;
    width:25px;
    height:21px;   
    border:none;
    cursor:pointer;    
}
#SelectedEntitiesBoxFirstPage
{
    background:url("images/first.png") left bottom no-repeat;
    width:25px;
    height:21px;   
    border:none;
    cursor:pointer;     
}
#SelectedEntitiesBoxLastPage
{
    background:url("images/last.png") left bottom no-repeat;
    width:25px;
    height:21px;   
    border:none;
    cursor:pointer;     
}
.fixPagerWidth
{
    width:62px;
}
.fixPagerMid
{
    padding:0 5px 0 5px;
}
#SelectedEntitiesBoxPagerBox
{
    padding:0 0 0 20px;
}
.evidenceTabSelected
{
    width:94px;
    height:30px;
    margin-right:15px;  
    color:#000; 
    background:url("images/tabOnEditWeb.png") left bottom no-repeat;
    border:none;
    text-align:center;
    padding-top:4px;
    cursor:pointer;
    
}
.evidenceTabUnSelected
{
    width:94px;
    height:30px;
    margin-right:15px;
    color:#0044cc;
    background:none;
    border:none;
    text-align:center;
    padding-top:4px;
    cursor:pointer;
}

.webTabWrap
{
 zoom:1px;
 padding:10px 0 0 0;
 border-bottom:1px solid #acbbcd;   
}
.webTabWrap *{outline:0;zoom:1;} 
#iTab2
{
    border-top:1px solid #d8dfe8;   
}
.evidenceLeftPane
{
    float: left; 
    width: 330px; 
    min-height: 450px; 
    color: #000; 
    padding:15px 0 0 0; 
    background:url("images/evidenceSideLine.png") right top repeat-y #fff;  
}
.evidenceKeyTitle
{
    font-size: 14px;
    padding:0 0 0 34px;
    background:url("images/evidenceTagIcon.png") 12px 0 no-repeat;
}
.evidenceSugTitle
{
    font-size: 14px;
    padding:0 0 0 34px;
    background:url("images/star.png") 10px 0 no-repeat;
}
#keyword
{
    min-height:40px;
    overflow: hidden;
    padding:0 0 10px 0;
    border-bottom:#d0e6ff 2px solid;
    margin-right: 1px;
}
#keyword span
{
    display:block;
    float:left;
    padding:1px 10px;
    border-bottom:1px solid #1f3858;
    border-right:1px solid #1f3858;
    border-left:1px solid #395170;
    border-top:1px solid #395170;
    height:13px;
    font-size:12px;
    background:url("images/evidenceBG.png") 0 0 repeat-x;
    margin:0 4px 3px 0;
    color:#04408a;
    line-height:14px;
}
.evidenceSugPane
{
   width: 329px; 
   min-height: 400px;
   border-top:#9fb2c6 1px solid;
   padding-top:5px;

}
.evidenceSearchPane
{
    width:670px;
    background:url("images/evidenceArrow.png") 0 50px no-repeat;
    float:left;
    padding-top: 12px;
    margin-left: -1px;
}
.evidenceSearchTitle{
    padding-left:20px;
    font-size: 14px;
}
.evidenceSearchBox
{
    padding:4px 0 0px 20px;
}
.evidenceShadowBox
{
    width:530px;
    margin-left:21px;
    border-top:1px solid #cccccc;
}
.EditOrganizationFilterRow
{
    display:block;
    width:267px;
    height: 28px;
    padding: 8px 0px 8px 0px;
    background: url("images/dotLine.png") left bottom repeat-x;   
}
.profileItemRow
{
    padding:15px 0 0 0;
}
.itemRowLeftIntro
{
    width:95px;
    float:left;
    font-size:14px;
    padding-top:4px;
}
.itemRowRightWrap
{
    width:900px;
    float:left;   
}
.itemBTN
{
    float:left; 
    margin-right:5px;  
}
.descWrap
{
    min-height:16px;
    padding:5px 0;
    font-size:12px;
    color:#aaa;
    display:block;
    border-bottom:1px solid #d9e1e9;
    border-top:1px solid #d9e1e9;
    margin-bottom:4px;  
}
/*
.descHeader
{
    min-height:16px;
    padding:5px 13px;
    font-size:12px;
    color:#aaa;
    display:block;
    border-bottom:1px solid #d9e1e9;
    border-top:1px solid #d9e1e9;
    margin-bottom:4px;
}*/
div.selectArea
{
    background-color: #EEF7FF;
    border: 1px solid #B4C4D4;
    padding: 5px 10px;
    margin:1px 0 2px 0;
}
a.sugLink
{
    color:#024ba9;
    font-size:14px;
}
.sugTextRelationship
{
   vertical-align: text-top;
   margin-right:20px;
   margin-left:2px;
   margin-top:-3px;
}
.addSugBTN
{
    background:url("images/addSugBTN.png") left bottom no-repeat;
    width:63px;
    height:23px;   
    border:none;
    cursor:pointer;    
    float:left;
    display:block;
}
#inputDesc
{
    height: 20px; 
    margin-right: 5px;
    float:left;
    display:block;
}
.inputTagIntro
{
    font-size:12px;
    color:#777;
}
.quickAddSugWrap
{
    padding-top:2px;
}
.tagWrap
{
    display:block;
    float:left;
    height:29px;
    background:url("images/tagLeftBG.png") left top no-repeat;
    padding-left:3px;
    border:none;
    text-align:center;
    color:#000;
    margin-right:1px;
    margin-bottom:1px;
}

.tagContentWrap
{
    float:left;
    min-width:14px;
    padding:3px 15px 0 15px;
    position:relative;
    color:#000;
    font-size:13px;
    background:url("images/tagMid.png") left top repeat-x;
    height:26px;
}
.tagWrapRight
{
    float:left;
    width:3px; 
    height:29px;
    background:url("images/tagRight.png") left top no-repeat;  
}
a.delTagBTN
{
    background:url("images/delTag.png") left bottom no-repeat;
    width:9px;
    height:9px;
    display:block;
    float:left;
    cursor:pointer;
    position:absolute;
    top:9px;
    right:2px;
}
a.sugLinkItem
{
    color:#004da6;
    font-size:14px;
}
#iSearchText
{
    float: left; 
    border: 1px solid #7c8a9d;
    border-right: none; 
    width: 490px; 
    height: 21px; 
    padding: 3px; 
    font-size:14px;
    padding-top:9px; 
}
.basicBGinner
{
    
}
a.checkRelationPage
{
   background:url("images/zoomSmall.png") 0 5px no-repeat;
   width:30px;
   height:16px;
   display:block;
   float:right;
   cursor:pointer;
   color:#04408a;
   text-decoration:none;   
   padding-left:13px;
   margin-left:6px;
   margin-right:5px;
   padding-top:1px;
}
.nameLinkContainer
{
    max-width:100px;
    display:block;
    float:left;
       
}
.suggestedFactItem
{
    background:none;
    border:none;
    cursor:pointer;
    color:#073d80;   
}
.SuggestedRelationshipDescription
{
    float: left;
    margin-right: 10px;
}
.sugAlertPane
{
    width:258px;
    height:30px;
    text-align:center;
    color:#000;
    background:url("images/sugAlert.png") 0 0 no-repeat;
    padding-top:10px;
    margin-top: 5px;
    margin-bottom:5px;
}
.sugNoneLine
{
    width:267px;
    height:1px;
    background: url("images/dotLine.png") repeat-x scroll left bottom transparent;
}
.nameLinkContainer a
{
    color:#0056CC;
    text-decoration:none;
}
#SuggestedNameList #loader
{
    background: url("images/dotLine.png") left bottom repeat-x;   
    padding: 5px 0px;
    min-height:45px;    
}
.emptyListAlert
{
    background:url("images/alertPane.png") 0 0 no-repeat;
    width:433px;
    height:50px;
    margin:30px auto;
    padding-top: 18px;
    font-size:13px;
    color:#000;
    text-align:center;
}
.emptyListAlert img
{
    margin-right:6px;
}
.ui-dialog .ui-dialog-content
{
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    overflow: auto;
    padding: 5px 10px 5px 25px;
    position: relative;   
}
.profileInsertIntro
{
    display:block;
    float:left;
    margin:8px 0 0 10px;
}
#dialog-homepage
{
    padding:0;
    background-color:#EEF6FF;   
}
.ex_intro_sns
{
    padding:0 0 8px 10px;   
    border-bottom:1px solid #8997A8;
}
.add_sns_wraper
{
   background-color: #C7D7F0; 
   height: 60px;   
   border-top:1px solid #fff;
   border-bottom:1px solid #fff;
   padding: 5px 0 10px 10px;
}
.sns_addContent
{
   min-height: 40px; 
   padding-top: 15px;
   border-top:1px solid #8997A8;
}

.sns_fin_wrap
{
   padding:10px 10px 10px 10px;   
}
.addSNSHome
{
    background:url("images/addSugBTN.png") 0 0 no-repeat;
    border:none;
    width:63px;
    height:23px;
    cursor:pointer;  
    float:left;
    display:block;
    margin:6px 0 0 5px; 
    
}
#homepageUrl
{
    width:392px;
    height:23px;
    border:1px solid #666666;
    margin-top:5px;
    float:left;
    display:block;
} 
.editPhotoWrap
{
    float:left;
}
.editPhotoWrap img
{
    width:48px;
    height:48px; 
    padding:1px 0 0 2px; 
}

.editIntroWrap {
  float: left;
  padding: 0 0 0 20px;
  width: 285px;
}

#titleSelection
{
    width: 195px;
    background-color:transparent;
    
    display:block; 
}
.webTabLeft
{
    display:inline;
}
.numWeb
{
    color: #E27300;
    cursor: pointer;
    display: inline;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;    
    background:none;
    min-width:1px;
}
.webTabInWrap
{
    min-width:10px;
    margin:0 auto;
    text-align:center;
}
.savePane
{
    position:fixed;
    bottom:0;
    left:100px;
}
.blocktext .highLight
{
    color:#e77100;
}
.orgQuickAdditem
{
    padding:5px 0 5px 0;   
}
.orgLeftIntro
{
    float:left;
    width:46px;
    font-size:13px;
    text-align:left;
}
.orgQuickAddInput
{
    float:left;
    display:block;
    width:165px;  
    height:18px; 
    border-left:1px solid #e2e3ea;
    border-right:1px solid #dbdfe6;
    border-top:1px solid #abadb3;
    border-bottom:1px solid #e3e9ef;    
}
.QuickAddOrganizationRow
{
    padding:5px 0 0 0;
}
.addYearInput
{
    float:left;
    display:block;
    width:64px;
    height:20px; 
    background: url(images/year.png) 0 0 no-repeat;
}
.orgFixWord
{
    display:block;
    float:left;
    padding:0 13px;
    font-size:13px;
}
.addSuggestedOrganization
{
    margin-left:40px;
}
.orgAlreadyTitle
{
    text-align:center;
    font-size:13px;
    font-weight:bold;
    padding:5px 0 11px 0;
    background: url("images/dotLine.png") left bottom repeat-x;  
}
.EditPeopleNavWrap
{   
    background: url("images/dotLine.png") left bottom repeat-x; 
    padding-bottom: 9px;
    zoom:1;
}
.webSelectedAmount
{
    color: #E27300;
    cursor: pointer;
    display: inline;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;    
}
.orgRelationTag
{
    background-color: #30588A;
    display:block;
    padding: 2px 8px 5px 15px;
    position:relative;
}
.orgRelationDateWrap
{
    padding:4px 0 4px 0;   
}
.orgAddRelationship
{
    height:auto;
    background:none;
}

.basicInfoMustHave{}

.basicInfoNice2Have{}

.basicInfoRow
{}

.basicInfoRow .itemKey {
  color: #717171;
  float: left;
  font-size: 12px;
  padding: 18px 0 0 0;
  text-align: right;
  width: 340px;
}

.basicInfoRow .itemValue {
  font-size: 12px;
  margin: 0px 0 0 375px;
  padding: 18px 0 0 0;
  min-height: 46px;
}

.basicInfoRow .itemValue .selected {
  background-color: #C7D7EF;
  border: 1px solid #A2B4CA;
  display: inline-block;
  padding: 5px 13px;
  cursor:pointer;
}

.basicInfoRow .itemValue .unselected{
  border: 1px solid #A2B4CA;
  display: inline-block;
  padding: 5px 13px;
  cursor:pointer;}
  
.basicInfoRow .itemValue .valueLine {
  padding: 0px 0;
}
  
.basicInfoRow .itemValue .valueLine .values
{
	line-height: 30px;
}

.basicInfoRow .itemValue .valueLine .values .edit
{
    text-decoration:none;
}
  
.basicInfoRow .itemValue .valueLine .textbox
{
      border: 1px solid #A2B4CA;
  height: 20px;
  padding-left: 4px;
  width: 240px;
}
  
.basicInfoRow .itemValue .valueLine a {
  color: #000000;
  text-decoration: none;
}

.basicInfoRow .itemValue .valueLine .tag {
  line-height: 30px;
  margin-right: 12px;
}

.basicInfoRow .itemValue .valueLine .tag a {
  text-decoration: none;
  background-color: #cee2e9;
  color: #000000;
  padding: 5px;
}

.basicInfoRow .itemValue .valueLine .portrait {
  height: 90px;
  margin-right: 5px;
  margin-top: 13px;
  cursor:pointer;
}

.basicInfoRow .itemValue .valueLine .portrait-select {
  height: 90px;
  margin-right: 5px;
  cursor:pointer;
  border:1px solid blue;
}

.basicInfoRow .itemValue .valueLine .image{}

.basicInfoRow .itemValue .valueLine .image IMG
{
  max-height: 64px;
  margin-right: 5px; 
}

.basicInfoRow .itemValue .valueLine .tag .add
{
    cursor:pointer;
}

.basicInfoRow .itemValue .valueLine .tag .del
{
    cursor:pointer;
}

.homepagelogo {
  height: 24px;
  width: 24px;
}

.out-panel-okay {
  background: url("images/selectshowamount.png") no-repeat scroll left top transparent;
  cursor: pointer;
  height: 20px;
  padding-bottom: 2px;
  width: 49px;
}

.out-panel-cancel {
  background-color: #FFFFFF;
  cursor: pointer;
  height: 20px;
  width: 49px;
}

.web-opr {
  font-size: 12px;
}

.web-add {
  float: right;
  font-size: 12px;
}

.web-add A {
  text-decoration: underline;
  color: #999999;
}

.web-sug-title
{
}

.web-opr > a {
  color: #84ACD1;
  text-decoration: none;
  margin-right:5px;
}

.closed-panel {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  margin-bottom: 10px;
  padding: 10px;
}

.error-title{}

.error-body{}

.back-button{}


.recommendPanel
{
	margin-top:17px;
}

.clip .title A 
{
    color: #000000;
    font-family: 微软雅黑,黑体,宋体;
    font-size: 14px;
    font-weight: normal;
}

.editweb-webpagerec
{
	margin-bottom: 25px;
	padding-left: 0px;
}

.editweb-webpagerec .web-meta
{
	margin-top: 10px;
}

.clip .desp
{
	margin-top: 6px;
	margin-left: -9px;
    color: #717171;
}

.clip .title .web-opr a
{
	font-size: 12px;
	color: #84acd1;
	text-decoration :none;
}

.web-meta cite
{
	font-size: 12px;
	color: #0e774a;
	margin-top: 10px;
}

.webpageselect 
{
	margin-bottom: 25px;
}

.webpageselect .desp
{
	margin-top: 10px;
}
.valueRadioSpan
{
	padding-right:55px;
}
.valueRadioSpan2
{
	padding-right: 20px;
}
.rectag
{
	margin-left: 8px;
}
.tagtextarea
{
	border: 1px solid #A2B4CA;
	padding-left: 4px;
}
.orgtagtextarea
{
	border: 1px solid #A2B4CA;
	padding-left: 4px;
}
.add
{
	margin-left:1px;
	padding-bottom: 4px;
    vertical-align: middle;	
 	cursor: hand;
	cursor: pointer;   
}
.rectaglink,.rectag a
{
	text-decoration: underline;
	color: #FFFFFF;
}
.tagline
{
	margin-bottom: 13px;
	line-height: 30px;
}
#personPageInputDiv
{
	margin-top: 13px;
}
.optionInfoInput
{
    border: 1px solid #C7C7C7;
    font-size: 12px;
    height: 26px;
    margin-top: -3px;
    padding-left: 3px;
    width: 280px;
}


.test1
{
    display:inline;
}

.test2
{
    float:left;
}

.test3
{
    margin:6px;
    border:1px solid #aaa;
}

.test4
{
    padding:6px;
    border:1px solid #aaa;
}

.test5 {
  background: url("images/bg_blue.png") repeat-x scroll 0 0 #11A4D0;
  clear: both;
  height: 72px;
}

.test6
{
    background: url("images/search.png") no-repeat scroll 0 0 transparent;
}

DIV{}


.locsel_select
{
	border: 1px solid #717171;
	margin-right: 10px;	
	width: auto;
}

.label-select-menu
{
    margin-bottom: 6px;
    margin-top: 0;   
}