@charset "UTF-8";
/* CSS Document */

*{margin:0;padding:0;border:0;}
body{/*background-color: #CAB481;*/}
.bold{
font-weight:bold;
}
.clear{clear:both;}
.header_top{
width:1100px;
height:60px;
margin:0 auto;
padding:30px 0px 30px 100px;

}
.header_top .header_top_tel{
float:left;
width:365px;
height:50px;
padding:13px 0px 0px 220px;
}
.search_frm{
width:460px;
float:right;
margin:20px 0px 10px 50px;
}
.search_frm .search_txt{
background:url(images/search_txt_bg.jpg) no-repeat;
width:330px;
height:27px;
float:left;

}
.search_txt input{
width:295px;
height:26px;
border:none;
background:transparent;
line-height:26px;
color:#333;
font-size:14px;
margin-left:5px;
}
.search_frm .search_btn{
width:75px;
float:left;
}
 .header_nav{
 background:url(images/menubarbg.png) repeat-x;
 height:50px;
 overflow:hidden;
 }
 .logo{
 width:193px;
 height:172px;
 position:absolute; 
 left:155px !important;
 left:150px;
 top:50px;
 background:url(images/logo.png) no-repeat;
 }
 #mainbody{
 width:1000px;margin:0 auto;  overflow:hidden; text-align:left; position:relative;margin-top:40px;
 }
 .left_side{ 
	 background:#C8000B;
 	width:187px;
 	float:left;
 	margin:30px 0px 30px 10px;
 }
.right-side{
width:770px;
float:left;
margin:30px 0px 0px 10px;
}
 .left_side_top{
 width:187px;
 background:url(images/nav_top_bg.jpg) no-repeat; 
 padding-top:10px;
 padding-left:5px;
 }
 .left_side_bottom{
 width:187px;
 height:6px;
 background:url(images/left_nav_bottom.jpg) no-repeat; 
 
 }
.left_side h1{
 font-size:25px;
 color:#fff;
 padding-left:20px;
}
.left_side_line{
 background:url(images/left_nav_line.jpg) no-repeat; 
}
.category ul {
 text-align:left;
 padding-top:10px;
}
.category ul li{
height:28px;
 padding-top:10px;
}
.category ul li a{
 color:#fff;
 font-size:18px;
 text-decoration:none;
 padding-left:20px;
 padding-top:5px;
  width:160px;
  height:28px;
  display:block;
 
}
.category   ul li a:hover { 
	color:#fff;
	padding-left:20px;
 	padding-top:5px;
	background:url(images/nav_ahover.jpg ) no-repeat;
}
/*图片轮换*/
.changePic .ad {
	margin-bottom: 10px;
	width: 770px;
	height:280px;
	overflow: hidden;
	position: relative;
}

.changePic  .slider,.changePic  .num {
	position: absolute;
}

.changePic  .slider li {
	list-style: none;
	display: inline;
}

.changePic  .slider img {
	width: 770px;
	height: 280px;
	display: block;
}

.changePic .num {
	right: 5px;
	bottom: 5px;
}

.changePic .num li {
	float: left;
	color: #FF7300;
	text-align: center;
	line-height: 16px;
	width: 16px;
	height: 16px;
	font-family: Arial;
	font-size: 12px;
	cursor: pointer;
	overflow: hidden;
	margin: 3px 1px;
	border: 1px solid #FF7300;
	background-color: #fff;
}

.changePic .num li.on {
	color: #fff;
	line-height: 21px;
	width: 21px;
	height: 21px;
	font-size: 16px;
	margin: 0 1px;
	border: 0;
	background-color: #FF7300;
	font-weight: bold;
}

#newsSlider {
	float: left;
	width: 770px;
	height: 280px;
	border: 1px solid #8c8c8c;
	background: #ffffff;
	overflow: hidden;
	position: relative;
}

#featured{ width:770px; _height:300px; background:#FFFFFF;padding-top:20px;}
#featured #info{height:auto; background:#fdeada; float:left; margin:20px 0px 10px ;border: 1px solid #d99694;}
#featured #info{ width:770px;color:#404040; }
#featured #info h4{
 font-size:20px;
 text-align:center;
 padding:20px 0px 10px 0px;
 
 
}
#featured #info p{
line-height:26px;
font-size:18px;
padding:10px;
}
#footer{
 background:url(images/footer_bg1.gif )repeat-x;
 height:205px;
 overflow:hidden;
}
 .footer_nav{
 width:1000px; height:124px;  margin:0 auto;position:relative;margin-top:30px;/* background:url(images/left_nav_ahover.jpg ) no-repeat;*/
 }
 .footer_left{
 width:450px;
 float:left;
 
 }
  .footer_left .footer_logo{
 width:500px;
 float:left;
 padding-top:30px;
 
 } 
 .footer_right{
 width:500px;
 float:left;
 padding-left:20px;
 }
 .footer_right ul{
 width:450px;
 float:left;
 padding-top:30px;
 }
  .footer_right ul li{
 width:80px;
 float:left;
 }
 
.pro{width:600px;float:left;padding-top:40px;}
.vip{width:200px;float:left;text-align:right;padding-top:40px;}

 .search{padding-left:10px;float:left;background:#fff;}
 #footer .bottom-left{width:1000px;height:124px;/*background:url(images/bank_Botton_right.jpg) no-repeat bottom left; */}
 #footer .bottom-right{width:1000px;height:124px;/*background:url(images/bank_Botton_left.jpg) no-repeat bottom right; */}
