<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.0.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util-3.0.xsd
	">

	<bean id="propertyConfig" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
	     <property name="location">
	         <value>classpath:jdbc.properties</value>
	     </property>  
 	</bean>

	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass">
            <value>${connection.driver_class}</value>
        </property>
        <property name="jdbcUrl">
            <value>${connection.url}</value>
        </property>
        <property name="user">
            <value>${connection.username}</value>
        </property>
        <property name="password">
            <value>${connection.password}</value>
        </property>
        <property name="initialPoolSize"><value>15</value></property>
      	<property name="minPoolSize"><value>10</value></property>
      	<property name="maxPoolSize"><value>50</value></property>
      	<property name="acquireIncrement"><value>5</value></property>
      	<property name="maxIdleTime"><value>10</value></property>
     	<property name="maxStatements"><value>0</value></property>
	</bean>
	
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<!--
        <property name="persistenceUnitName" value="jpaPU" />
		<property name="persistenceXmlLocation" value="classpath:META-INF/persistence.xml"/>
		-->
        <property name="dataSource" ref="dataSource"/><!-- 注入数据源bean到实体管理工厂bean -->
		<property name="loadTimeWeaver"><!-- 运行时植入 -->
			<bean class="org.springframework.instrument.classloading.InstrumentationLoadTimeWeaver"/>
		</property>
    </bean>
    
    <bean id="cacheManager" class="org.springmodules.cache.provider.oscache.OsCacheManagerFactoryBean">
        <property name="configLocation" value="classpath:oscache.properties" />
    </bean>
    
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
		<property name="entityManagerFactory" ref="entityManagerFactory" />
	</bean>
	<context:component-scan base-package="edu.bupt.spring.*" />
	
	<!-- 国际化的消息资源文件 -->
    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <!-- 在web环境中一定要定位到classpath 否则默认到当前web应用下找  -->
                <value>classpath:messages</value>
            </list>
        </property>
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="cacheSeconds" value="60"/>
    </bean>
	
	<!-- 配置事务的传播特性 -->
	<!-- 在开发的时候可以这样定义，但部署的时候一定要详细定义 -->
	<tx:advice id="txAdvice" transaction-manager="transactionManager">
		<tx:attributes>
			<tx:method name="*" propagation="REQUIRED" />
		</tx:attributes>
	</tx:advice>
	
	<bean name="openEntityManagerInViewInterceptor" class="org.springframework.orm.jpa.support.OpenEntityManagerInViewInterceptor">  
	    <property name="entityManagerFactory">  
	        <ref bean="entityManagerFactory" />  
	    </property>
	</bean>
	
	<!-- 配置哪些类哪些方法使用事务 -->
	<aop:config>
        <!-- 只对业务逻辑层实施事务 -->
        <aop:pointcut id="txPointcut" expression="execution(* edu.bupt.spring.service.*.*(..))" />
        <aop:advisor advice-ref="txAdvice" pointcut-ref="txPointcut"/>
    </aop:config>
	
	<tx:annotation-driven transaction-manager="transactionManager"/>
	
</beans>


