<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="规则 1" stopProcessing="true">
                    <match url="index$" />
                    <action type="Rewrite" url="index.php" />
                </rule>
                <rule name="规则 2" stopProcessing="true">
                    <match url="welcome$" />
                    <action type="Rewrite" url="index.php" />
                </rule>
                <rule name="规则 3" stopProcessing="true">
                    <match url="me$" />
                    <action type="Rewrite" url="u.php?action=me" />
                </rule>
				<rule name="规则 57" stopProcessing="true">
                    <match url="u/all$" />
                    <action type="Rewrite" url="u.php?action=all" />
                </rule>
				<rule name="规则 58" stopProcessing="true">
                    <match url="u/message/(\d+)$" />
                    <action type="Rewrite" url="u.php?action=message&amp;page={R:1}" />
                </rule>
				<rule name="规则 59" stopProcessing="true">
                    <match url="u/message$" />
                    <action type="Rewrite" url="u.php?action=message" />
                </rule>
				<rule name="规则 60" stopProcessing="true">
                    <match url="u/([a-z]+)/([a-z]+)/(\d+)/(\d+)$" />
                    <action type="Rewrite" url="u.php?action={R:1}&amp;{R:2}={R:3}&amp;page={R:4}" />
                </rule>
				<rule name="规则 61" stopProcessing="true">
                    <match url="u/([a-z]+)/([a-z]+)/(\d+)$" />
                    <action type="Rewrite" url="u.php?action={R:1}&amp;{R:2}={R:3}" />
                </rule>
				<rule name="规则 26" stopProcessing="true">
                    <match url="u/(\d+)/([a-z]+)/([a-z]+)/([a-z]+)/(\d+)$" />
                    <action type="Rewrite" url="u.php?action={R:2}&amp;uid={R:1}&amp;type={R:3}&amp;sort={R:4}&amp;page={R:5}" />
                </rule>
                <rule name="规则 27" stopProcessing="true">
                    <match url="u/(\d+)/([a-z]+)/([a-z]+)/([a-z]+)$" />
                    <action type="Rewrite" url="u.php?action={R:2}&amp;uid={R:1}&amp;type={R:3}&amp;sort={R:4}" />
                </rule>
                <rule name="规则 28" stopProcessing="true">
                    <match url="u/(\d+)/([a-z]+)/([a-z]+)/(\d+)$" />
                    <action type="Rewrite" url="u.php?action={R:2}&amp;uid={R:1}&amp;type={R:3}&amp;page={R:4}" />
                </rule>
                <rule name="规则 29" stopProcessing="true">
                    <match url="u/(\d+)/([a-z]+)/([a-z]+)$" />
                    <action type="Rewrite" url="u.php?action={R:2}&amp;uid={R:1}&amp;type={R:3}" />
                </rule>
                <rule name="规则 30" stopProcessing="true">
                    <match url="u/(\d+)/([a-z]+)/(\d+)$" />
                    <action type="Rewrite" url="u.php?action={R:2}&amp;uid={R:1}&amp;page={R:3}" />
                </rule>
                <rule name="规则 31" stopProcessing="true">
                    <match url="u/(\d+)/([a-z]+)$" />
                    <action type="Rewrite" url="u.php?action={R:2}&amp;uid={R:1}" />
                </rule>
                <rule name="规则 32" stopProcessing="true">
                    <match url="u/(\d+)/(\d+)$" />
                    <action type="Rewrite" url="u.php?action=index&amp;uid={R:1}&amp;page={R:2}" />
                </rule>
                <rule name="规则 33" stopProcessing="true">
                    <match url="u/(\d+)$" />
                    <action type="Rewrite" url="u.php?action=index&amp;uid={R:1}" />
                </rule>
                <rule name="规则 4" stopProcessing="true">
                    <match url="club/newtopic/(\d+)$" />
                    <action type="Rewrite" url="club.php?action=newtopic&amp;fid={R:1}" />
                </rule>
                <rule name="规则 5" stopProcessing="true">
                    <match url="club/newtopic$" />
                    <action type="Rewrite" url="club.php?action=newtopic" />
                </rule>
                <rule name="规则 6" stopProcessing="true">
                    <match url="club/detail/(\d+)/(\d+)$" />
                    <action type="Rewrite" url="club.php?action=detail&amp;tid={R:1}&amp;page={R:2}" />
                </rule>
                <rule name="规则 7" stopProcessing="true">
                    <match url="club/detail/(\d+)$" />
                    <action type="Rewrite" url="club.php?action=detail&amp;tid={R:1}" />
                </rule>
                <rule name="规则 8" stopProcessing="true">
                    <match url="club/best/(\d+)/([a-z]+)/(\d+)$" />
                    <action type="Rewrite" url="club.php?action=best&amp;fid={R:1}&amp;sort={R:2}&amp;page={R:3}" />
                </rule>
                <rule name="规则 9" stopProcessing="true">
                    <match url="club/best/(\d+)/([a-z]+)$" />
                    <action type="Rewrite" url="club.php?action=best&amp;fid={R:1}&amp;sort={R:2}" />
                </rule>
                <rule name="规则 10" stopProcessing="true">
                    <match url="club/best/(\d+)/(\d+)$" />
                    <action type="Rewrite" url="club.php?action=best&amp;fid={R:1}&amp;page={R:2}" />
                </rule>
                <rule name="规则 11" stopProcessing="true">
                    <match url="club/best/(\d+)$" />
                    <action type="Rewrite" url="club.php?action=best&amp;fid={R:1}" />
                </rule>
                <rule name="规则 12" stopProcessing="true">
                    <match url="club/(\d+)/([a-z]+)/(\d+)$" />
                    <action type="Rewrite" url="club.php?action=forum&amp;fid={R:1}&amp;sort={R:2}&amp;page={R:3}" />
                </rule>
                <rule name="规则 13" stopProcessing="true">
                    <match url="club/(\d+)/([a-z]+)$" />
                    <action type="Rewrite" url="club.php?action=forum&amp;fid={R:1}&amp;sort={R:2}" />
                </rule>
                <rule name="规则 14" stopProcessing="true">
                    <match url="club/(\d+)/(\d+)$" />
                    <action type="Rewrite" url="club.php?action=forum&amp;fid={R:1}&amp;page={R:2}" />
                </rule>
                <rule name="规则 15" stopProcessing="true">
                    <match url="club/(\d+)$" />
                    <action type="Rewrite" url="club.php?action=forum&amp;fid={R:1}" />
                </rule>
                <rule name="规则 16" stopProcessing="true">
                    <match url="club$" />
                    <action type="Rewrite" url="club.php?action=index" />
                </rule>
                <rule name="规则 17" stopProcessing="true">
                    <match url="ask/newtopic/(\d+)$" />
                    <action type="Rewrite" url="ask.php?action=newtopic&amp;aid={R:1}" />
                </rule>
                <rule name="规则 18" stopProcessing="true">
                    <match url="ask/newtopic$" />
                    <action type="Rewrite" url="ask.php?action=newtopic" />
                </rule>
                <rule name="规则 19" stopProcessing="true">
                    <match url="ask/(\d+)/([a-z]+)/(\d+)/$" />
                    <action type="Rewrite" url="ask.php?action=forum&amp;aid={R:1}&amp;type={R:2}&amp;page={R:3}" />
                </rule>
                <rule name="规则 20" stopProcessing="true">
                    <match url="ask/(\d+)/([a-z]+)$" />
                    <action type="Rewrite" url="ask.php?action=forum&amp;aid={R:1}&amp;type={R:2}" />
                </rule>
                <rule name="规则 21" stopProcessing="true">
                    <match url="ask/(\d+)/(\d+)$" />
                    <action type="Rewrite" url="ask.php?action=forum&amp;aid={R:1}&amp;page={R:2}" />
                </rule>
                <rule name="规则 22" stopProcessing="true">
                    <match url="ask/(\d+)$" />
                    <action type="Rewrite" url="ask.php?action=forum&amp;aid={R:1}" />
                </rule>
                <rule name="规则 23" stopProcessing="true">
                    <match url="ask/detail/(\d+)/(\d+)$" />
                    <action type="Rewrite" url="ask.php?action=detail&amp;tid={R:1}&amp;page={R:2}" />
                </rule>
                <rule name="规则 24" stopProcessing="true">
                    <match url="ask/detail/(\d+)$" />
                    <action type="Rewrite" url="ask.php?action=detail&amp;tid={R:1}" />
                </rule>
                <rule name="规则 25" stopProcessing="true">
                    <match url="ask$" />
                    <action type="Rewrite" url="ask.php?action=index" />
                </rule>
                <rule name="规则 34" stopProcessing="true">
                    <match url="book/shopping/(new|pop|hot7|hot30)/([^\/]+)/(\d+)$" />
                    <action type="Rewrite" url="book.php?action=shopping&amp;sort={R:1}&amp;tag={R:2}&amp;page={R:3}" />
                </rule>
                <rule name="规则 35" stopProcessing="true">
                    <match url="book/shopping/(new|pop|hot7|hot30)/(\d+)$" />
                    <action type="Rewrite" url="book.php?action=shopping&amp;sort={R:1}&amp;page={R:2}" />
                </rule>
                <rule name="规则 36" stopProcessing="true">
                    <match url="book/shopping/(new|pop|hot7|hot30)/([^\/]+)$" />
                    <action type="Rewrite" url="book.php?action=shopping&amp;sort={R:1}&amp;tag={R:2}" />
                </rule>
                <rule name="规则 37" stopProcessing="true">
                    <match url="book/shopping/(new|pop|hot7|hot30)$" />
                    <action type="Rewrite" url="book.php?action=shopping&amp;sort={R:1}" />
                </rule>
                <rule name="规则 38" stopProcessing="true">
                    <match url="book/shopping/([^\/]+)/(\d+)$" />
                    <action type="Rewrite" url="book.php?action=shopping&amp;tag={R:1}&amp;page={R:2}" />
                </rule>
                <rule name="规则 39" stopProcessing="true">
                    <match url="book/shopping/(\d+)$" />
                    <action type="Rewrite" url="book.php?action=shopping&amp;page={R:1}" />
                </rule>
                <rule name="规则 40" stopProcessing="true">
                    <match url="book/shopping/([^\/]+)$" />
                    <action type="Rewrite" url="book.php?action=shopping&amp;tag={R:1}" />
                </rule>
                <rule name="规则 41" stopProcessing="true">
                    <match url="book/shopping$" />
                    <action type="Rewrite" url="book.php?action=shopping" />
                </rule>
                <rule name="规则 42" stopProcessing="true">
                    <match url="book/([a-z]+)/(new|pop|hot7|hot30)/([^\/]+)/(\d+)$" />
                    <action type="Rewrite" url="book.php?action=cate&amp;cate={R:1}&amp;sort={R:2}&amp;tag={R:3}&amp;page={R:4}" />
                </rule>
                <rule name="规则 43" stopProcessing="true">
                    <match url="book/([a-z]+)/(new|pop|hot7|hot30)/(\d+)$" />
                    <action type="Rewrite" url="book.php?action=cate&amp;cate={R:1}&amp;sort={R:2}&amp;page={R:3}" />
                </rule>
                <rule name="规则 44" stopProcessing="true">
                    <match url="book/([a-z]+)/(new|pop|hot7|hot30)/([^\/]+)$" />
                    <action type="Rewrite" url="book.php?action=cate&amp;cate={R:1}&amp;sort={R:2}&amp;tag={R:3}" />
                </rule>
                <rule name="规则 45" stopProcessing="true">
                    <match url="book/([a-z]+)/(new|pop|hot7|hot30)$" />
                    <action type="Rewrite" url="book.php?action=cate&amp;cate={R:1}&amp;sort={R:2}" />
                </rule>
                <rule name="规则 46" stopProcessing="true">
                    <match url="book/([a-z]+)/([^\/]+)/(\d+)$" />
                    <action type="Rewrite" url="book.php?action=cate&amp;cate={R:1}&amp;tag={R:2}&amp;page={R:3}" />
                </rule>
                <rule name="规则 47" stopProcessing="true">
                    <match url="book/([a-z]+)/(\d+)$" />
                    <action type="Rewrite" url="book.php?action=cate&amp;cate={R:1}&amp;page={R:2}" />
                </rule>
                <rule name="规则 48" stopProcessing="true">
                    <match url="book/([a-z]+)/([^\/]+)$" />
                    <action type="Rewrite" url="book.php?action=cate&amp;cate={R:1}&amp;tag={R:2}" />
                </rule>
                <rule name="规则 49" stopProcessing="true">
                    <match url="book/([a-z]+)$" />
                    <action type="Rewrite" url="book.php?action=cate&amp;cate={R:1}" />
                </rule>
                <rule name="规则 50" stopProcessing="true">
                    <match url="note/(\d+)/(g|m)/(\d+)$" />
                    <action type="Rewrite" url="note.php?action={R:2}&amp;sid={R:1}&amp;id={R:3}" />
                </rule>
                <rule name="规则 51" stopProcessing="true">
                    <match url="note/(\d+)$" />
                    <action type="Rewrite" url="note.php?action=index&amp;sid={R:1}" />
                </rule>
                <rule name="规则 52" stopProcessing="true">
                    <match url="daren/(\d+)$" />
                    <action type="Rewrite" url="daren.php?action=index&amp;page={R:1}" />
                </rule>
                <rule name="规则 53" stopProcessing="true">
                    <match url="daren$" />
                    <action type="Rewrite" url="daren.php?action=index" />
                </rule>
                <rule name="规则 54" stopProcessing="true">
                    <match url="daren/all/(\d+)$" />
                    <action type="Rewrite" url="daren.php?action=all&amp;page={R:1}" />
                </rule>
                <rule name="规则 55" stopProcessing="true">
                    <match url="daren/all$" />
                    <action type="Rewrite" url="daren.php?action=all" />
                </rule>
				<rule name="规则 56" stopProcessing="true">
                    <match url="link/index$" />
                    <action type="Rewrite" url="link.php?action=index" />
                </rule>
                <rule name="规则 62" stopProcessing="true">
                    <match url="([a-z]+)/([a-z]+)$" />
                    <action type="Rewrite" url="{R:1}.php?action={R:2}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
